<div class="header-bar" *ngIf="exsituFormService.harvest">
  <div class="header-info-grid">

    <!-- Colonne 1 -->
    <div class="info-column harvest-context-column">
      <div class="info-row">
        <span class="info-label">Type de récolte</span>

        <span class="info-value">
          {{ harvest?.harvest_type || 'Non renseigné' }}
        </span>
      </div>

      <div class="info-row">
        <span class="info-label">
          {{ harvest?.id_area_type || 'Localisation' }}
        </span>

        <span class="info-value">
          {{ harvest?.location_name || 'Inconnue' }}
        </span>
      </div>
    </div>

    <!-- Colonne 2 -->
    <div class="info-column harvest-context-column">
      <div class="info-row">
        <span class="info-label">Date</span>

        <span class="info-value">
          {{
            harvest?.date_start
              ? (harvest.date_start | date:'dd/MM/yyyy')
              : 'Non renseignée'
          }}
        </span>
      </div>

      <div class="info-row">
        <span class="info-label">Observateur</span>

        <span class="info-value">
          {{ harvest?.observateur || 'N/A' }}
        </span>
      </div>
    </div>

        <!-- Colonne 3 -->
        <div
          class="info-column material-context-column"
          *ngIf="codeMaterial && exsituFormService.currentTab !== 'materials'"
        >
          <div class="info-row">
            <span class="info-label">N° de récolte</span>

            <span class="info-value">
              {{ codeMaterial }}
            </span>
          </div>

          <div class="info-row">
            <span class="info-label">Taxon</span>

            <span
              class="info-value taxon-value"
              [matTooltip]="taxonTooltip"
            >
              {{ taxonName || 'Non défini' }}
            </span>
          </div>
        </div>


        <!-- Colonne 4 - Contexte Culture uniquement -->
        <div
          class="info-column culture-context-column"
          *ngIf="
            codeMaterial &&
            (
              exsituFormService.currentTab === 'culture-table' ||
              exsituFormService.currentTab === 'culture-details'
            )
          "
        >
          <div class="info-row culture-context-row">

            <span class="info-label">
              N° du semis
            </span>

            <span class="info-value">
              {{
                exsituFormService
                  .cultureSourceSowingCode ||
                '-'
              }}
            </span>

          </div>


          <div class="info-row culture-context-row">

            <span class="info-label">
              N° du test de germination
            </span>

            <span class="info-value">
              {{
                exsituFormService
                  .cultureSourceTestCode ||
                '-'
              }}
            </span>

          </div>
        </div>

      </div>
    </div>