
.right-panel {
  padding-bottom: 20px;
}


.no-data {
  padding: 20px;
  text-align: center;
  color: #999;
  font-style: italic;
}

.semis-table {
        margin: 0;
border-radius: 8px;
padding: 20px;
background-color: #ffffff;
  table {
    width: 100%;
    margin-top: 10px;

  }

  .no-data {
    padding: 20px;
    text-align: center;
    color: #999;
    font-style: italic;
  }
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gray-button {
  background-color: #66BB6A;  
  color: #fff; 
  border: 1px solid #45A049;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: 500;
  
}

.gray-button:hover {
  background-color: #45A049;  
}











