<!-- RETOUR VERS MATÉRIEL RÉCOLTÉ -->
<div class="viability-list-return-button">

  <button
    mat-raised-button
    type="button"
    (click)="onBackToMaterial()"
  >
    <mat-icon>arrow_back</mat-icon>

    Retour
  </button>

</div>

<mat-card class="viability-list-card">

  <mat-card-header class="viability-list-header">

    <button
      mat-button
      class="viability-add-button"
      (click)="addFicheGermination()"
    >
      <mat-icon>add</mat-icon>

      Ajouter une fiche de viabilité
    </button>

    <div class="viability-title-wrapper">
      <mat-card-title>
        Fiche de Viabilité
      </mat-card-title>
    </div>

  </mat-card-header>

  <mat-card-content class="viability-list-content">

    <ng-container
      *ngIf="
        dataSource.data.length > 0;
        else noViabilityData
      "
    >
      <table
        mat-table
        [dataSource]="dataSource"
        class="viability-list-table"
      >

        <!-- N° test -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>N° test de Viabilité</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <!-- Date de début -->
        <ng-container matColumnDef="meta_create_date">
          <th mat-header-cell *matHeaderCellDef>Date de début</th>
          <td mat-cell *matCellDef="let element">{{ element.meta_create_date | date:'shortDate' }}</td>
        </ng-container>

        <!-- Nb graines -->
        <ng-container matColumnDef="seed_initial_count">
          <th mat-header-cell *matHeaderCellDef>Nb de graines</th>
          <td mat-cell *matCellDef="let element">{{ element.seed_initial_count }}</td>
        </ng-container>

        <!-- Traitement -->
        <ng-container matColumnDef="traitement">
          <th mat-header-cell *matHeaderCellDef>Liquide traitement</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.traitement">{{ element.traitement }}</span>
            <span *ngIf="!element.traitement">-</span>
          </td>
        </ng-container>

        <!-- Prétraitement -->
        <ng-container matColumnDef="pre_treatment">
          <th mat-header-cell *matHeaderCellDef>Prétraitement</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              [checked]="element.pre_treatment === true"
              (change)="onChangePreTreatment(element, $event.checked)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="actions-trigger-red"
              [matMenuTriggerFor]="menu"
              (menuOpened)="setActiveActionRow(element)"
              (menuClosed)="clearActiveActionRow()"
              (click)="$event.stopPropagation()"
              aria-label="Actions"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item color="primary" (click)="onAddAction(element)">
                <mat-icon color="primary">add</mat-icon>
                <span class="text-green">Ajouter une action</span>
              </button>
              <button mat-menu-item (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
                <span>Éditer</span>
              </button>
              <button mat-menu-item color="warn" (click)="onDelete(element)">
                <mat-icon color="warn">delete</mat-icon>
                <span class="text-red">Supprimer</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Lignes du tableau -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
          class="clickable-row"
          [class.action-row-active]="isActionRowActive(row)"
          (click)="onRowClick(row)"
        >
        </tr>
      </table>

      <mat-paginator
        class="viability-list-paginator"
        [pageSize]="rowPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
      </mat-paginator>

    </ng-container>

    <ng-template #noViabilityData>
      <mat-card class="alert-card warning-card mt-4">
        <mat-icon color="warn">info</mat-icon>
        Aucun test de viabilité enregistré pour ce matériel.
      </mat-card>
    </ng-template>
  </mat-card-content>
</mat-card>
