<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Fiche de Germination</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="germinationForm" class="semis-form">
        <!-- General Info -->
         
        <h2 class="section-title">Informations générales</h2>
        <!-- Code + Test parent -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Test parent (facultatif)</mat-label>
            <mat-select formControlName="idTestParent">
              <!-- options dynamiques -->
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Matériel + Stock -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Matériel végétal</mat-label>
            <mat-select formControlName="idMaterial">
              <!-- options dynamiques -->
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Stock de semences</mat-label>
            <mat-select formControlName="idStorage">
              <!-- options dynamiques -->
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Acteur + Type de test -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Personne ayant effectué le test</mat-label>
            <mat-select formControlName="idActor">
              <!-- options dynamiques -->
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Type de test</mat-label>
            <mat-select formControlName="idTestType">
              <!-- options dynamiques (CFE_TEST_TYPE) -->
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Nombre de graines + Réplicats -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Nombre de graines testées</mat-label>
            <input matInput type="number" formControlName="seedInitialCount">
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Nombre de réplicats</mat-label>
            <input matInput type="number" formControlName="replicateCount">
          </mat-form-field>
        </div>

        <!-- Support + Substrat -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Support utilisé</mat-label>
            <mat-select formControlName="idSupport">
              <!-- options dynamiques (CFE_TG_SUPPORT) -->
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Substrat utilisé</mat-label>
            <mat-select formControlName="idSubstrate">
              <!-- options dynamiques (CFE_TEST_SUBSTRAT) -->
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Programme + Remarques -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Programme</mat-label>
            <input matInput formControlName="program">
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Remarques</mat-label>
            <textarea matInput formControlName="remarks" rows="2"></textarea>
          </mat-form-field>
        </div>


        <!-- Submit -->
        <div class="form-actions dual-buttons">
          <button mat-button class="cancel-button with-border" type="button" (click)="onCancel()">
            <mat-icon>close</mat-icon>
            Annuler
          </button>
        
          <button mat-button class="save-button with-border" type="submit" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Enregistrer
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!--
  <app-semis-table
  class="right-panel"
  [dataSource]="dataSource"
  (view)="onView()"
  (edit)="onEdit()"
  (delete)="onDelete()">
</app-semis-table>
  -->
</div>

