<div class="wrapper">
  <div class="header-bar">
    <button (click)="onAddHarvest()" mat-raised-button class="button-success uppercase">
      <i class="fa fa-plus-circle"> </i>
      Ajouter une récolte</button>
    <button mat-raised-button color="primary" (click)="downloadCsv()">Télécharger</button>
  </div>

  <div class="row row-0">
    <!-- SECTION FILTRES -->
    <nav
      [(ngbCollapse)]="isCollapseSyntheseNavBar"
      #navBar
      id="sidebar"
    >
        <ex-harvest-filter (filtersChanged)="onFiltersChanged($event)"></ex-harvest-filter>

    </nav>

    <div>
      <button
        (click)="isCollapseSyntheseNavBar = !isCollapseSyntheseNavBar"
        [attr.aria-expanded]="!isCollapseSyntheseNavBar"
        #buttonToggle
        (click)="mooveButton()"
        type="button"
        id="sidebarCollapse"
        class="btn btn-toogle-sidenav box-shadow"
      >
        <i
          [hidden]="searchBarHidden"
          class="fa fa-caret-left"
        ></i>
        <i
          [hidden]="!searchBarHidden"
          class="fa fa-caret-right"
        ></i>
      </button>
      
    </div>

    <!-- SECTION CARTE -->
    <div class="map-section">
      <pnx-map height="86vh" [center]="center" [zoom]="zoom">
        <pnx-geojson 
          *ngIf="geojson" 
          [geojson]="geojson" 
          [onEachFeature]="onEachFeature.bind(this)" 
          [asCluster] = "true"       
        > </pnx-geojson>
      </pnx-map>
    </div>

    <!-- SECTION TABLEAU (scrollable) -->
    <div class="table-section"  
      #dataTableContainer
      [ngStyle]="{ height: dataTableHeight + 'px' }"
      
    >
        <table mat-table [dataSource]="dataSource" class="mat-table">
      
          <!-- N° de Récolte -->
          <ng-container matColumnDef="code_material">
            <th mat-header-cell *matHeaderCellDef matTooltip="Numéro de récolte"> N° réc </th>
            <td mat-cell *matCellDef="let element"> {{ element.code_material }} </td>
          </ng-container>
      
          <!-- Taxon -->
          <ng-container matColumnDef="taxons">
            <th mat-header-cell *matHeaderCellDef> Taxons </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.taxonsTooltip }}"> 
              {{ element.taxonsDisplay }} 
            </td>
          </ng-container>          
      
          <!-- Département -->
          <ng-container matColumnDef="departement">
            <th mat-header-cell *matHeaderCellDef matTooltip="Code du département"> Dept </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.departement_name }}"> {{ element.departement_code }} </td>
          </ng-container>
      
          <!-- Commune -->
          <ng-container matColumnDef="commune">
            <th mat-header-cell *matHeaderCellDef> Commune </th>
            <td mat-cell *matCellDef="let element"> {{ element.commune }} </td>
          </ng-container>
      
          <!-- Date -->
          <ng-container matColumnDef="date_start">
            <th mat-header-cell *matHeaderCellDef matTooltip="Date début de la récolte"> Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.date_start | date: 'dd-MM-yyyy' }} </td>
          </ng-container>

          <!-- Observateurs -->
          <ng-container matColumnDef="observateurs">
            <th mat-header-cell *matHeaderCellDef> Observateurs </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.observateursTooltip }}"> {{ element.observateursDisplay }} </td>
          </ng-container>
      
          <!-- Boutons d'action (Fusionner les colonnes Info, Edit, Delete en une seule colonne) -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button 
                mat-icon-button 
                aria-label="Edit" 
                matTooltip="Editer la récolte"
                (click)="onEdit(element.id_harvest)"
              ><mat-icon>edit</mat-icon></button>
              <button 
                mat-icon-button 
                color="warn" 
                aria-label="Delete" 
                matTooltip="Supprimer la récolte"
                [disabled]="element.code_material !== null"
                (click)="deleteHarvest(element.id_harvest)"
              ><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
      
          <!-- Lignes de l'en-tête et des données -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row 
              *matRowDef="let row; let i = index; columns: displayedColumns;" 
              [ngClass]="{
                'highlighted': i === highlightedRowIndex || highlightedRowIds.has(row.id_harvest)
              }"              
              (click)="highlightRow(row.id_harvest, i)"
            ></tr>
        </table>
      
        <mat-paginator
          [length]="nbMats"  
          [pageSize]="rowPerPage"    
          [pageSizeOptions]="[5, 10, 25, 100]"  
          [showFirstLastButtons]="true" 
          (page)="onPaginateChange()">
        ></mat-paginator>
       
    </div>
  </div>
</div>
