<div class="wrapper">
  <!-- Bande avec boutons -->
  <div class="header-bar">
    <button (click)="onAddHarvest()" mat-raised-button class="button-success uppercase">
      <i class="fa fa-plus-circle" aria-hidden="true"> </i>
      Ajouter une récolte</button>
    <button mat-raised-button color="primary">Télécharger</button>
  </div>

  <div class="row row-0">
    <!-- SECTION FILTRES -->
    <nav
      [(ngbCollapse)]="isCollapseSyntheseNavBar"
      #navBar
      id="sidebar"
    >
        <ex-harvest-filter (filtersChanged)="onFiltersChanged($event)"></ex-harvest-filter>

    </nav>

    <div>
      <button
        (click)="isCollapseSyntheseNavBar = !isCollapseSyntheseNavBar"
        [attr.aria-expanded]="!isCollapseSyntheseNavBar"
        #buttonToggle
        [style.left.px]="marginButton"
        (click)="mooveButton()"
        type="button"
        id="sidebarCollapse"
        class="btn btn-toogle-sidenav box-shadow"
      >
        <i
          [hidden]="searchBarHidden"
          class="fa fa-caret-left"
        ></i>
        <i
          [hidden]="!searchBarHidden"
          class="fa fa-caret-right"
        ></i>
      </button>
      
    </div>

    <!-- SECTION CARTE -->
    <div class="map-section">
      <pnx-map height="86vh" [center]="center" [zoom]="zoom">
        <pnx-geojson *ngIf="geojson" [geojson]="geojson" [onEachFeature]="onEachFeature.bind(this)"> </pnx-geojson>
      </pnx-map>
    </div>

    <!-- SECTION TABLEAU (scrollable) -->
    <div class="table-section">
      <ngx-datatable
        #dataTable
        class="material striped margin-top-xs table-size expandable"
        maxWidth="90"
        [headerHeight]="35"
        [footerHeight]="40"
        [rowHeight]="40"
        [columnMode]="'force'"
        [selected]="mapListService.selectedRow"
        [selectionType]="'single'"
        [rowClass]="mapListService.getRowClass"
        [loadingIndicator]="mapListService.isLoading"
        [externalPaging]="true"
        [count]="nbMats"
        [offset]="mapListService.page.pageNumber"
        [limit]="rowPerPage"
        (select)="onRowSelect($event)"
        [rows]="harvests"
        (page)="onChangePage($event)"
      >
        <!-- dropdown Menu Button-->
        <ngx-datatable-column 
          [width]="10"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template ngx-datatable-header-template>
            <i
              id="dropdownMenuButton"
              class="fa fa-cog clickable"
              aria-hidden="true"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              matTooltip="{{ 'List.Columns' | translate }}"
            ></i>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              matTooltip="Ouvrir/fermer le détail"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              (click)="toggleExpandRow(row)"
            ></a>
          </ng-template>
        </ngx-datatable-column>

        <!-- N° de Récolte -->
        <ngx-datatable-column name="N° réc" [headerTemplate]="headerNumR">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span matTooltip="{{ row.harvest_type_label }}">
              <span class="badge badge-dark">{{ row.harvest_materials?.length }}</span>
                {{ row.code_material }}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ng-template #headerNumR>
          <span matTooltip="Numéro de récolte">N° réc</span>
        </ng-template>

        <!-- Taxon -->
        <ngx-datatable-column name="Taxon">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span>
              {{ row.taxon }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <!-- code département -->
        <ngx-datatable-column name="Dept" [headerTemplate]="headerDept">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span matTooltip="{{ row.departement_name }}">
              {{ row.departement_code }}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ng-template #headerDept>
          <span matTooltip="Code du département">Dept</span>
        </ng-template>
        

        <!-- Nom de la commune -->
        <ngx-datatable-column name="Commune">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span>
              {{ row.commune }}
            </span>
          </ng-template>
        </ngx-datatable-column>
      
        <!-- Observateurs -->
        <ngx-datatable-column name="Observateurs">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span 
              matTooltip="{{ row.observateursTooltip }}" 
              matTooltipPosition="above">
              {{ row.observateursDisplay }}
            </span>
          </ng-template>
        </ngx-datatable-column>
        

         <!-- Date de début -->
         <ngx-datatable-column name="Date" [headerTemplate]="headerDate">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span matTooltip="{{ row.date_start | date: 'dd-MM-yyyy' }}">
              {{ row.date_start | date: 'dd-MM-yyyy' }}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ng-template #headerDate>
          <span matTooltip="Date début de la récolte">Date</span>
        </ng-template>        


        <!-- Colonne Action -->
        <ngx-datatable-column maxWidth="10">
          <ng-template
            let-row="row"
            ngx-datatable-cell-template
          >
            <ng-container>
              <a
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
              >
                <i
                  matTooltip="Informations récolte"
                  class="fa fa-info-circle"
                  aria-hidden="true"
                ></i>
              </a>
            </ng-container>
            <ng-template #disabledInfoBlc>
              <button
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                disabled="true"
              >
                <i
                  class="fa fa-info-circle disabled"
                  matTooltip="Informations récolte"
                  aria-hidden="true"
                ></i>
              </button>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column maxWidth="10">
          <ng-template
            let-row="row"
            ngx-datatable-cell-template
          >
            <ng-container>
              <a
                data-qa="edit-releve"
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                [routerLink]="['form/harvest', row.id_harvest]"
              >
                <i
                  matTooltip="Editer la récolte"
                  class="fa fa-pencil-square-o"
                  aria-hidden="true"
                ></i>
              </a>
            </ng-container>
            <ng-template #disabledEditBlc>
              <button
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                disabled="true"
              >
                <i
                  class="fa fa-pencil-square-o disabled"
                  matTooltip="Editer la récolte"
                  aria-hidden="true"
                ></i>
              </button>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column maxWidth="10">
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <button
              class="btn btn-outline-shadow btn-no-padding btn-ghost btn-red"
              [disabled]="true"
            >
              <i
                #iElement
                matTooltip="Supprimer la récolte"
                class="fa fa-trash-o"
                aria-hidden="true"
              ></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
       
    </div>
  </div>
</div>
