<mat-card>
  <mat-card-header class="header-with-button centered-header">
    <div class="title-wrapper centered-title">
      <mat-card-title>Fiche de Semis :</mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="semisForm" class="semis-form" (ngSubmit)="onSubmit()">

      <!-- Ligne 1 : Numéro de semis -->
      <mat-form-field appearance="outline" class="full-width shake-wrapper" [class.shake-field]="shakeCodeField">
  <mat-label>Numéro de Semis</mat-label>
  <input
    matInput
    formControlName="code"
    
    placeholder="Ex : S2026_0001"
    matTooltip="Code alphanumérique identifiant le semis.&#10;Ex : S2026_0001 (S = semis, 2026 = année, 0001 = n° d’ordre)"
    matTooltipPosition="below">

  <mat-error *ngIf="formSubmitted && semisForm.get('code')?.hasError('required')">
    Le numéro de semis est obligatoire.
  </mat-error>

  <mat-error *ngIf="formSubmitted && semisForm.get('code')?.hasError('duplicateCode')">
    Code déjà utilisé.
  </mat-error>

  <small class="custom-helper-message">Format standard conseillé : SAAAA_NNNN.</small>

  <mat-error *ngIf="formSubmitted && semisForm.get('code')?.hasError('codeYearMismatch')">
    L’année du semis doit correspondre à la date de début.
  </mat-error>

  <mat-error *ngIf="formSubmitted && semisForm.get('code')?.hasError('sowingSequenceInvalid')">
    Le numéro d’ordre du semis ne peut pas être 0000.
  </mat-error>
</mat-form-field>
      

      <!-- Ligne 2 : Date de début / Date de fin -->
      <div class="dates-block full-width">
        <div class="dates-grid">
          <mat-form-field
            appearance="outline"
            class="start-date-required shake-wrapper"
            [class.shake-field]="shakeStartDateField"
            [class.shake-error]="shakeStartDateField">
              <mat-label>Date de début</mat-label>
              <input
                matInput
                [matDatepicker]="startPicker"
                formControlName="start_date"
                matTooltip="Date de début du semis."
                matTooltipPosition="below">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>

              <mat-error *ngIf="formSubmitted && semisForm.get('start_date')?.hasError('required')">
                La date de début est obligatoire.
              </mat-error>

              <mat-error *ngIf="formSubmitted && semisForm.get('start_date')?.hasError('codeYearMismatch')">
                L’année du semis doit correspondre à l’année de début.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="shake-wrapper" [class.shake-field]="shakeEndDateField">
              <mat-label>Date de fin</mat-label>
              <input
                matInput
                [matDatepicker]="endPicker"
                formControlName="end_date"
                matTooltip="Date de fin du semis."
                matTooltipPosition="below">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
              <mat-error *ngIf="formSubmitted && semisForm.get('end_date')?.hasError('dateRangeInvalid')">
                La date de fin doit être postérieure à la date de début.
              </mat-error>
            </mat-form-field>
        </div>
      </div>

      <!-- Ligne 3 : Méthode / Substrat -->
      <div class="form-group" [class.shake-group-field]="shakeMethodField">
        <mat-form-field appearance="outline" class="align-with-form-group">
          <mat-label>Méthode</mat-label>
          <mat-select
            formControlName="id_sowing_method"
            matTooltip="Méthode de semis appliquée."
            matTooltipPosition="below"
          >
            <mat-option *ngFor="let method of getOrderedSowingMethods()" [value]="method.id_nomenclature">
              {{ method.label_default || method.label_fr }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="custom-error-message" *ngIf="formSubmitted && semisForm.get('id_sowing_method')?.hasError('required')">
          La méthode est obligatoire.
        </div>
      </div>

      <div class="form-group" [class.shake-group-field]="shakeSubstrateField">
        <mat-form-field appearance="outline" class="align-with-form-group">
          <mat-label>Substrat</mat-label>
          <mat-select
            formControlName="id_substrate"
            matTooltip="Composition en pourcentage du substrat du semis."
            matTooltipPosition="below"
          >
            <mat-option *ngFor="let substrate of getOrderedSowingSubstrates()" [value]="substrate.id_nomenclature">
              {{ substrate.label_default || substrate.label_fr }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="custom-error-message" *ngIf="formSubmitted && semisForm.get('id_substrate')?.hasError('required')">
          Le substrat est obligatoire.
        </div>
      </div>

      <!-- Ligne 4 : Contenant / Profondeur -->
      <mat-form-field
        appearance="outline"
        class="shake-wrapper"
        [class.shake-field]="shakeContainerField"
        [class.shake-error]="shakeContainerField">
          <mat-label>Contenant</mat-label>
          <input
            matInput
            formControlName="container"
            required
            matTooltip="Contenant dans lequel se trouvent les graines pour les semis."
            matTooltipPosition="below">

          <mat-error *ngIf="formSubmitted && semisForm.get('container')?.hasError('required')">
            Le contenant est obligatoire.
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="shake-wrapper" [class.shake-field]="shakeDepthField">
        <mat-label>Profondeur (mm)</mat-label>
        <input
          matInput
          type="number"
          formControlName="depth"
          min="1"
          matTooltip="Profondeur du semis. Unité : millimètre (mm)."
          matTooltipPosition="below">

        <mat-error *ngIf="formSubmitted && semisForm.get('depth')?.hasError('min')">
          La profondeur doit être supérieure à 0.
        </mat-error>
      </mat-form-field>

      <!-- Ligne 5 : Mode d'arrosage / Personne ayant effectué le semis -->
      <div class="form-group" [class.shake-group-field]="shakeWateringField">
        <mat-form-field appearance="outline" class="align-with-form-group">
          <mat-label>Mode d’arrosage</mat-label>
          <mat-select
            formControlName="id_watering_method"
            matTooltip="Mode d’arrosage appliqué."
            matTooltipPosition="below"
          >
            <mat-option *ngFor="let wateringMethod of getOrderedSowingWateringMethods()" [value]="wateringMethod.id_nomenclature">
              {{ wateringMethod.label_default || wateringMethod.label_fr }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group" [class.shake-group-field]="shakeActorField">
        <small>Personne ayant effectué le semis</small>
        <pnx-observers
          [bindAllItem]="true"
          [parentFormControl]="semisForm.controls.id_actor"
          [codeList]="observers_list_code"
          [multiSelect]="true"
          matTooltip="Personne effectuant le semis."
          matTooltipPosition="below">
        </pnx-observers>
      </div>

      <!-- Ligne 6 : Nombre de graines semées / Nombre de réplicats -->
      <mat-form-field
        appearance="outline"
        class="shake-wrapper"
        [class.shake-field]="shakeInitialCountField"
        [class.shake-error]="shakeInitialCountField">
          <mat-label>Nombre de graines semées</mat-label>
          <input
            matInput
            type="number"
            formControlName="initial_count"
            required
            min="1"
            matTooltip="Nombre de graines semées."
            matTooltipPosition="below">

          <mat-error *ngIf="formSubmitted && semisForm.get('initial_count')?.hasError('required')">
            Le nombre de graines semées est obligatoire.
          </mat-error>

          <mat-error *ngIf="formSubmitted && semisForm.get('initial_count')?.hasError('min')">
            Le nombre de graines semées doit être supérieur à 0.
          </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="shake-wrapper"
        [class.shake-field]="shakeReplicateCountField"
        [class.shake-error]="shakeReplicateCountField">
          <mat-label>Nombre de réplicats</mat-label>
          <input
            matInput
            type="number"
            formControlName="replicate_count"
            required
            min="1"
            matTooltip="Nombre de réplicats. Valeur par défaut : 1."
            matTooltipPosition="below">

          <mat-error *ngIf="formSubmitted && semisForm.get('replicate_count')?.hasError('required')">
            Le nombre de réplicats est obligatoire.
          </mat-error>

          <mat-error *ngIf="formSubmitted && semisForm.get('replicate_count')?.hasError('min')">
            Le nombre de réplicats doit être supérieur à 0.
          </mat-error>
      </mat-form-field>

      <!-- Ligne 7 : Localisation / Précision sur la localisation -->
      <div class="form-group" [class.shake-group-field]="shakeLocationField">
        <mat-form-field appearance="outline" class="align-with-form-group">
          <mat-label>Localisation</mat-label>
          <mat-select
            formControlName="id_location"
            matTooltip="Lieu de stockage des semis."
            matTooltipPosition="below"
          >
            <mat-option *ngFor="let location of getOrderedSowingLocations()" [value]="location.id_nomenclature">
              {{ location.label_default || location.label_fr }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="align-with-form-group">
        <mat-label>Précision sur la localisation</mat-label>
        <input
          matInput
          formControlName="specification_location"
          matTooltip="Précision sur la localisation du semis (ex. : numéro de la zone ou de la serre)."
          matTooltipPosition="below">
      </mat-form-field>

      <!-- Remarques (pleine largeur) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Remarques</mat-label>
        <textarea
          matInput
          formControlName="remarks"
          rows="2"
          matTooltip="Remarques générales sur les semis."
          matTooltipPosition="below"></textarea>
      </mat-form-field>

      <!-- Programme (pleine largeur) -->
      <div class="form-group full-width">
        <pnx-dynamic-form-generator
          [myFormGroup]="additionalDataForm"
          [formsDefinition]="formsDefinition"
          [autoGenerated]="true">
        </pnx-dynamic-form-generator>
      </div>

      <!-- Boutons (pleine largeur) -->
      <div class="form-actions dual-buttons sticky-actions full-width">
        <button mat-button class="cancel-button with-border" type="button" (click)="onCancel()">
          <mat-icon>close</mat-icon> Annuler
        </button>

        <button mat-button class="reset-button with-border" type="button" (click)="onReset()">
          <mat-icon>autorenew</mat-icon> Réinitialiser
        </button>

        <button mat-button class="save-button with-border" type="submit">
          <mat-icon>save</mat-icon> Enregistrer
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>