<mat-card>
  <mat-card-header class="header-with-button">
    <div class="title-wrapper">
      <mat-card-title>Fiche de Semis</mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="semisForm" class="semis-form" (ngSubmit)="onSubmit()">
      
      <!-- Numéro de semis -->
      <mat-form-field appearance="outline">
        <mat-label>Numéro de Semis</mat-label>
        <input matInput formControlName="code" required>
      </mat-form-field>

      <!-- Date de début -->
      <mat-form-field appearance="outline">
        <mat-label>Date de début</mat-label>
        <input matInput type="date" formControlName="start_date" required>
      </mat-form-field>

      <!-- Date de fin -->
      <mat-form-field appearance="outline">
        <mat-label>Date de fin</mat-label>
        <input matInput type="date" formControlName="end_date">
      </mat-form-field>

      <!-- Personne ayant effectué le semis -->
      <div class="form-group">
        <small>Personne ayant effectué le semis</small>
        <pnx-observers
          [bindAllItem]="true"
          [parentFormControl]="semisForm.controls.id_actor"
          [codeList]="observers_list_code"
          matTooltipPosition="above"
          [multiSelect]="true">
        </pnx-observers>
      </div>

      <!-- Méthode -->
      <div class="form-group">
        <small>Méthode</small>
        <pnx-nomenclature
          keyValue="id_nomenclature"
          [bindAllItem]="false"
          codeNomenclatureType="CFE_SOWING_METHOD"
          [parentFormControl]="semisForm.controls.id_sowing_method">
        </pnx-nomenclature>
      </div>

      <!-- Substrat (SLIM ERREUR NOMENCLATURE, CFE_TEST_SUBSTRATE => CFE_SOWING_SUBSTRATE)-->
      <div class="form-group">
        <small>Substrat</small>
        <pnx-nomenclature
          keyValue="id_nomenclature"
          [bindAllItem]="false"
          codeNomenclatureType="CFE_SOWING_SUBSTRATE" 
          [parentFormControl]="semisForm.controls.id_substrate">
        </pnx-nomenclature>
      </div>

      <!-- Contenant -->
      <mat-form-field appearance="outline">
        <mat-label>Contenant</mat-label>
        <input matInput formControlName="container">
      </mat-form-field>

      <!-- Profondeur -->
      <mat-form-field appearance="outline">
        <mat-label>Profondeur (mm)</mat-label>
        <input matInput type="number" formControlName="depth">
      </mat-form-field>

      <!-- Mode d'arrosage -->
      <div class="form-group">
        <small>Mode d'arrosage</small>
        <pnx-nomenclature
          keyValue="id_nomenclature"
          [bindAllItem]="false"
          codeNomenclatureType="CFE_WATERING_METHOD"
          [parentFormControl]="semisForm.controls.id_watering_method">
        </pnx-nomenclature>
      </div>

      <!-- Nombre de graines semées -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre de graines semées</mat-label>
        <input matInput type="number" formControlName="initial_count" required>
      </mat-form-field>

      <!-- Nombre de réplicats -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre de réplicats</mat-label>
        <input matInput type="number" formControlName="replicate_count" required>
      </mat-form-field>

      <!-- Localisation -->
      <div class="form-group">
        <small>Localisation</small>
        <pnx-nomenclature
          keyValue="id_nomenclature"
          [bindAllItem]="false"
          codeNomenclatureType="CFE_SOWING_LOCATION"
          [parentFormControl]="semisForm.controls.id_location">
        </pnx-nomenclature>
      </div>

      <!-- Précision sur la localisation -->
      <mat-form-field appearance="outline">
        <mat-label>Précision sur la localisation</mat-label>
        <input matInput formControlName="specification_location">
      </mat-form-field>

      <!-- Remarques (pleine largeur) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Remarques</mat-label>
        <textarea matInput formControlName="remarks" rows="2"></textarea>
      </mat-form-field>

      <!-- Programme (pleine largeur) -->
      <div class="form-group full-width">
        <pnx-dynamic-form-generator
          [myFormGroup]="additionalDataForm"
          [formsDefinition]="formsDefinition"
          [autoGenerated]="true">
        </pnx-dynamic-form-generator>
      </div>

      <!-- Boutons (pleine largeur) SLIM ERREUR DOUBLE ENREGISTREMENT, SUPP DU (click)="onSubmit()" car double submite -->
      <!-- SLIM ERREUR Pas comme le cancel puisque le button ne soumet pas le formulaire -->
      <div class="form-actions dual-buttons sticky-actions full-width">
        <button mat-button class="cancel-button with-border" type="button" (click)="onCancel()">
          <mat-icon>close</mat-icon> Annuler
        </button>
        <button mat-button class="save-button with-border" type="submit">
          <mat-icon>save</mat-icon> Enregistrer
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
