
.right-panel {
  padding-bottom: 20px;
}


.no-data {
  padding: 20px;
  text-align: center;
  color: #999;
  font-style: italic;
}

.semis-table {
        margin: 0;
border-radius: 8px;
padding: 20px;
background-color: #ffffff;
  table {
    width: 100%;
    margin-top: 10px;

  }

  .no-data {
    padding: 20px;
    text-align: center;
    color: #999;
    font-style: italic;
  }
}




.mat-mdc-button:not(:disabled) {
  color: #fff;
}


.left {
  position: absolute;
  left: 0;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

table tr.mat-row {
  cursor: pointer;
}

:host ::ng-deep .mat-mdc-row.clickable-row:hover .mat-mdc-cell {
  background-color: rgb(235, 250, 235) !important;
}


.header-with-button {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px; /* fixe une hauteur pour le centrage */
}

.title-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; /* permet de cliquer à travers si besoin */
}

.gray-button {
  background-color: #66BB6A;
  color: #fff;
  border: 1px solid #45A049;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: 500;
  z-index: 1; /* s'assurer que le bouton reste cliquable */
}

.gray-button:hover {
  background-color: #45A049;
}
.clickable-row {
  cursor: pointer;
}
::ng-deep .text-red {
  color: red !important;
}

.actions-trigger-red {
  color: #f44336 !important;
}

.actions-trigger-red mat-icon {
  color: #f44336 !important;
}












