<div
    class="confirm-dialog-shell"
    [class.semis-confirm-dialog]="
        dialogData?.variant === 'semis'
        || dialogData?.variant === 'semis-reset'
        || dialogData?.variant === 'semis-exit'
        || dialogData?.variant === 'semis-save'
    "
    [class.semis-reset-dialog]="dialogData?.variant === 'semis-reset'"
    [class.semis-exit-dialog]="dialogData?.variant === 'semis-exit'"

    [class.culture-confirm-dialog]="
        dialogData?.variant === 'culture'
        || dialogData?.variant === 'culture-reset'
        || dialogData?.variant === 'culture-exit'
        || dialogData?.variant === 'culture-save'
    "

    [class.viability-confirm-dialog]="
        dialogData?.variant === 'viability'
        || dialogData?.variant === 'viability-reset'
        || dialogData?.variant === 'viability-exit'
        || dialogData?.variant === 'viability-save'
    "

    [class.germination-confirm-dialog]="
        dialogData?.variant === 'germination'
        || dialogData?.variant === 'germination-reset'
        || dialogData?.variant === 'germination-exit'
        || dialogData?.variant === 'germination-save'
    "

    [class.stock-confirm-dialog]="
        dialogData?.variant === 'stock'
        || dialogData?.variant === 'stock-reset'
        || dialogData?.variant === 'stock-exit'
        || dialogData?.variant === 'stock-save'
    "

    [class.material-confirm-dialog]="
        dialogData?.variant === 'material'
        || dialogData?.variant === 'material-reset'
        || dialogData?.variant === 'material-exit'
        || dialogData?.variant === 'material-save'
    "

    [class.seed-confirm-dialog]="
        dialogData?.variant === 'seed'
        || dialogData?.variant === 'seed-reset'
        || dialogData?.variant === 'seed-exit'
        || dialogData?.variant === 'seed-save'
    "

    [class.workflow-confirm-dialog]="
        dialogData?.variant === 'viability'
        || dialogData?.variant === 'viability-reset'
        || dialogData?.variant === 'viability-exit'
        || dialogData?.variant === 'viability-save'
        || dialogData?.variant === 'germination'
        || dialogData?.variant === 'germination-reset'
        || dialogData?.variant === 'germination-exit'
        || dialogData?.variant === 'germination-save'
        || dialogData?.variant === 'stock'
        || dialogData?.variant === 'stock-reset'
        || dialogData?.variant === 'stock-exit'
        || dialogData?.variant === 'stock-save'
        || dialogData?.variant === 'material'
        || dialogData?.variant === 'material-reset'
        || dialogData?.variant === 'material-exit'
        || dialogData?.variant === 'material-save'
        || dialogData?.variant === 'seed'
        || dialogData?.variant === 'seed-reset'
        || dialogData?.variant === 'seed-exit'
        || dialogData?.variant === 'seed-save'
    "

    [class.workflow-reset-dialog]="
        dialogData?.variant === 'culture-reset'
        || dialogData?.variant === 'viability-reset'
        || dialogData?.variant === 'germination-reset'
        || dialogData?.variant === 'stock-reset'
        || dialogData?.variant === 'material-reset'
        || dialogData?.variant === 'seed-reset'
    "

    [class.workflow-exit-dialog]="
        dialogData?.variant === 'culture-exit'
        || dialogData?.variant === 'viability-exit'
        || dialogData?.variant === 'germination-exit'
        || dialogData?.variant === 'stock-exit'
        || dialogData?.variant === 'material-exit'
        || dialogData?.variant === 'seed-exit'
    "

    [class.workflow-save-dialog]="
        dialogData?.variant === 'semis-save'
        || dialogData?.variant === 'culture-save'
        || dialogData?.variant === 'viability-save'
        || dialogData?.variant === 'germination-save'
        || dialogData?.variant === 'stock-save'
        || dialogData?.variant === 'material-save'
        || dialogData?.variant === 'seed-save'
    "
>
    <div
        *ngIf="dialogData?.icon"
        class="confirm-dialog-hero-icon"
    >
        <mat-icon>{{ dialogData?.icon }}</mat-icon>
    </div>

    <button
        mat-icon-button
        class="dialog-close-button"
        [mat-dialog-close]="false"
        aria-label="Fermer"
    >
        <mat-icon>close</mat-icon>
    </button>

    <div class="header">
        <h2 mat-dialog-title>{{dialogData?.title}}</h2>
    </div>

    <div
        mat-dialog-content
        class="dialog-content"
    >
        <p
            *ngIf="
                dialogData?.variant === 'semis'
                && !dialogData?.actionDeletion
            "
        >
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            le semis
            <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            ?
        </p>

        <p *ngIf="dialogData?.variant === 'semis-reset'">
            Êtes-vous certain de vouloir
            <span class="reset-word">réinitialiser</span>
            {{ dialogData?.entityLabel }}
            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'semis-exit'
                && !dialogData?.actionCancellation
            "
        >
            Êtes-vous certain de vouloir
            <span class="exit-word">quitter</span>

            <ng-container *ngIf="dialogData?.entityCode; else semisExitWithoutCode">
                le semis
                <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            </ng-container>

            <ng-template #semisExitWithoutCode>
                cette fiche de semis
            </ng-template>

            ?
        </p>

        <p
            *ngIf="
                (
                    dialogData?.variant === 'culture-exit'
                    || dialogData?.variant === 'viability-exit'
                    || dialogData?.variant === 'germination-exit'
                    || dialogData?.variant === 'stock-exit'
                    || dialogData?.variant === 'material-exit'
                    || dialogData?.variant === 'seed-exit'
                )
                && !dialogData?.actionCancellation
            "
        >
            Êtes-vous certain de vouloir
            <span class="exit-word">quitter</span>
            {{ dialogData?.entityLabel }}
            <strong
                *ngIf="dialogData?.entityCode"
                class="entity-code"
            >
                {{ dialogData?.entityCode }}
            </strong>
            ?
        </p>


        <p *ngIf="dialogData?.actionCancellation">
            Êtes-vous certain de vouloir
            <span class="exit-word">annuler</span>

            <ng-container
                *ngIf="
                    dialogData?.actionCancellationMode === 'edit';
                    else actionCreationCancellation
                "
            >
                les modifications de l’action
                {{ dialogData?.actionContextLabel }}
            </ng-container>

            <ng-template #actionCreationCancellation>
                la création de l’action
                {{ dialogData?.actionContextLabel }}
            </ng-template>

            <ng-container *ngIf="dialogData?.entityLabel">
                "<strong class="entity-code">
                    {{ dialogData?.entityLabel }}
                </strong>"
            </ng-container>

            <ng-container *ngIf="dialogData?.entityDate">
                du
                <strong class="entity-code">
                    {{ dialogData?.entityDate | date:'dd/MM/yyyy' }}
                </strong>
            </ng-container>

            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'culture-reset'
                || dialogData?.variant === 'viability-reset'
                || dialogData?.variant === 'germination-reset'
                || dialogData?.variant === 'stock-reset'
                || dialogData?.variant === 'material-reset'
                || dialogData?.variant === 'seed-reset'
            "
        >
            Êtes-vous certain de vouloir
            <span class="reset-word">réinitialiser</span>
            {{ dialogData?.entityLabel }}
            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'semis-save'
                || dialogData?.variant === 'culture-save'
                || dialogData?.variant === 'viability-save'
                || dialogData?.variant === 'germination-save'
                || dialogData?.variant === 'stock-save'
                || dialogData?.variant === 'material-save'
                || dialogData?.variant === 'seed-save'
            "
        >
            Êtes-vous certain de vouloir
            <span class="save-word">enregistrer</span>
            {{ dialogData?.entityLabel }}
            <strong
                *ngIf="dialogData?.entityCode"
                class="entity-code"
            >
                {{ dialogData?.entityCode }}
            </strong>
            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'culture'
                && !dialogData?.actionDeletion
            "
        >
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            la culture
            <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'viability'
                && !dialogData?.actionDeletion
            "
        >
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            le test de viabilité
            <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'germination'
                && !dialogData?.actionDeletion
            "
        >
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            le test de germination
            <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            ?
        </p>


        <p *ngIf="dialogData?.actionDeletion">
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            l’action {{ dialogData?.actionContextLabel }}
            "<strong class="entity-code">{{ dialogData?.entityLabel }}</strong>"
            du
            <strong class="entity-code">
                {{ dialogData?.entityDate | date:'dd/MM/yyyy' }}
            </strong>
            ?
        </p>

        <ng-container *ngIf="dialogData?.variant === 'stock'">
            <p>
                Êtes-vous certain de vouloir
                <span class="danger-word">supprimer</span>
                l’action de stockage
                "<strong class="entity-code">{{ dialogData?.entityLabel }}</strong>"
                du
                <strong class="entity-code">
                    {{ dialogData?.entityDate | date:'dd/MM/yyyy' }}
                </strong>
                ?
            </p>

            <p class="storage-location-line">
                Lieu de stockage associé :
                <strong class="entity-code">
                    {{ dialogData?.storageLocation }}
                </strong>
            </p>
        </ng-container>

        <p *ngIf="dialogData?.variant === 'material'">
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            le matériel récolté
            <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            ?
        </p>

        <p
            *ngIf="
                dialogData?.variant === 'material'
                && dialogData?.warningMessage
            "
            class="warning-message"
        >
            {{ dialogData?.warningMessage }}
        </p>

        <p *ngIf="dialogData?.variant === 'seed'">
            Êtes-vous certain de vouloir
            <span class="danger-word">supprimer</span>
            la semence du matériel
            <strong class="entity-code">{{ dialogData?.entityCode }}</strong>
            ?
        </p>

        <p *ngIf="!dialogData?.variant">
            {{ dialogData?.message }}
        </p>
    </div>

    <div
        mat-dialog-actions
        class="dialog-actions"
    >
        <button
            mat-raised-button
            class="cancel-button"
            [mat-dialog-close]="false"
        >
            {{dialogData?.cancelCaption}}
        </button>

        <button
            mat-raised-button
            color="primary"
            class="confirm-button"
            [mat-dialog-close]="true"
        >
            {{dialogData?.confirmCaption}}
        </button>
    </div>
</div>