<mat-card class="material-form-card">

  <mat-card-header class="material-form-header">

    <div class="material-title-wrapper">

      <mat-card-title>
        {{
          (materialFormService.occurrence | async)
            ? 'Modifier une fiche de Matériel récolté'
            : 'Ajouter une fiche de Matériel récolté'
        }}
      </mat-card-title>

    </div>

  </mat-card-header>


  <mat-card-content
    class="wrapper material-form-content"
  >

    <div class="row row-0 mr-3 mt-2">
      <div class="col padding-sm">
        <label>Numéro de récolte *</label>
        <input
          class="form-control"
          type="text"
          [formControl]="materialForm.controls.code_material"
        />
        <div *ngIf="materialForm.get('code_material')?.hasError('codeExists')" class="error-message">
          Ce code de matériel existe déjà. Veuillez en choisir un autre.
        </div>
      </div>
      <div class="col-6 padding-sm mt-2">
        <div [formGroup]="materialForm">
          <pnx-taxonomy
            label="Taxon (nom cité)"
            [parentFormControl]="materialForm.controls.taxonInput"
            [charNumber]="3"
            [displayAdvancedFilters]="true"
            (onChange)="onTaxonSelected($event)"
            displayedLabel="search_name">
          </pnx-taxonomy>
      
          <!-- FormArray des taxons -->
          <div class="taxon-list-container">
            <div formArrayName="taxons">
              <div *ngFor="let taxon of materialFormService.taxons.controls; let i = index" [formGroupName]="i" class="d-flex align-items-center mt-1 taxon-item">
      
                <div class="col-4 padding-sm">
                  <input 
                    class="form-control" 
                    [value]="taxon.get('parentFormControl').value?.nom_valide || 'Taxon ajouté'"
                    readonly
                  />
                </div>
      
                <div class="col-4">
                  <button 
                    mat-icon-button 
                    aria-label="Delete" 
                    matTooltip="Supprimer"
                    color="warn"
                    (click)="materialFormService.removeTaxon(i, taxon)"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
      
              </div>
            </div>
          </div>
        </div>      
      </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
      <div class="col padding-sm">
          <label> Matériel végétal récolté *</label>
          <pnx-nomenclature
                  keyValue="id_nomenclature"
                  [bindAllItem]="false"
                  keyLabel="label_default"
                  codeNomenclatureType="CFE_HARVEST_MATERIAL"
                  [parentFormControl]="materialForm.controls.id_material_type"
                >
          </pnx-nomenclature>
      </div>
      <div class="col-6 padding-sm">
        <label> Classes d’individus</label>
        <pnx-nomenclature
            keyValue="id_nomenclature"
            [bindAllItem]="false"
            keyLabel="label_default"
            codeNomenclatureType="CFE_FOOT_COUNTING_CLASS"
            [parentFormControl]="materialForm.controls.id_foot_counting_class"
          >
        </pnx-nomenclature>
      </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col-6 padding-sm">
      <label>Numéro de récolte parent</label>
      <input type="text" 
        class="form-control"
        [formControl]="codeMaterialControl" 
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let material of filteredMaterials$ | async" [value]="material.code_material">
          {{ material.code_material }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col padding-sm">
      <label>N° Banque culturale</label>
      <input
        class="form-control"
        type="text"
        [formControl]="materialForm.controls.code_cultural_bank"
      />
    </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col padding-sm">
      <label> Mode d’échantillonnage</label>
      <pnx-nomenclature
            keyValue="id_nomenclature"
            [bindAllItem]="false"
            keyLabel="label_default"
            codeNomenclatureType="CFE_METHOD_SAMPLE"
            [parentFormControl]="materialForm.controls.id_method_sample"
          >
      </pnx-nomenclature>
    </div>
    <div class="col-6 padding-sm">
      <label>Nombre de pieds échantillonnés</label>
      <input
        class="form-control"
        type="number"
        [formControl]="materialForm.controls.sample_foot_count"
      />
    </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col-6 padding-sm">
        <label> Phénologie 1 *</label>
        <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="false"
                keyLabel="label_default"
                codeNomenclatureType="CFE_PHENOLOGY"
                [parentFormControl]="materialForm.controls.id_phenology_1"
              >
        </pnx-nomenclature>
    </div>
    <div class="col-6 padding-sm">
        <label> Phénologie 2</label>
        <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="false"
                keyLabel="label_default"
                codeNomenclatureType="CFE_PHENOLOGY"
                [parentFormControl]="materialForm.controls.id_phenology_2"
              >
        </pnx-nomenclature>
    </div>
  </div>

  <div class="row row-0 mt-3 mr-3">
    <div class="col padding-sm">
      <textarea
          class="form-control form-control-sm"
          placeholder="Commentaire + Protocoles et astuces"
          [formControl]="materialForm.controls.remarks"
        ></textarea>
    </div>
  </div>


  <div class="row row-0 mr-3 mt-2">
      <div class="col-6 padding-sm">
        <section class="check-section">
          <mat-checkbox
              [formControl]="materialForm.controls.has_hybridation_risk">
              Risque d'hybridation
          </mat-checkbox>
        </section>
      </div>
      <div class="col-6 padding-sm">
        <section class="check-section">
            <mat-checkbox
                [formControl]="materialForm.controls.is_soil_sampling">
                Prélèvement de terre
            </mat-checkbox>
        </section>
      </div>
  </div>

  <mat-card appearance="outlined" class="mt-3" *ngIf="formsDefinition?.length">
    <mat-card-header>
      <mat-card-title>Données supplémentaires</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row row-0">
        <div class="form-group col-6">
          <pnx-dynamic-form-generator
            [myFormGroup]="additionalDataForm"
            [formsDefinition]="formsDefinition"
            [autoGenerated]="true"
          ></pnx-dynamic-form-generator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</mat-card-content>
<div class="material-form-actions">
  <div class="button-container">
    <div>
      <button
        color="warn"
        mat-raised-button
        (click)="close()"
      >
        Annuler
      </button>
    </div>

    <div>
      <ng-container *ngIf="!(materialFormService.occurrence | async); else modifButton">
        <button
          mat-button
          [mat-dialog-close]="true"
          matTooltip="Enregistrer ce matériel"
          [disabled]="!materialForm.valid"
          class="button-success"
          (click)="submetData()"
        >
          Enregistrer
          <mat-icon style="vertical-align: middle">save</mat-icon>
        </button>
      </ng-container>
      <ng-template #modifButton>
        <button
          class="button-success uppercase"
          mat-button
          [mat-dialog-close]="true"
          [disabled]="!materialForm.valid"
          matTooltip="Modifier et enregistrer ce matériel"
          (click)="submetData()"
        >
          Enregistrer
          <mat-icon style="vertical-align: middle">save</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>

</mat-card>