.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  background-color: white;
}

.check-section {
    margin: 12px 0;  
}

.material-container{
    height: 90%;
    overflow-y: auto;
    background-color: #95949833;
    box-shadow:
        2px 3px 4px 0px rgba(0, 0, 0, 0.2),
        -2px 3px 4px 0px rgba(0, 0, 0, 0.2);
}


.right-aligned-header > .mat-content {
    justify-content: space-between !important;
}

.in-progress-panel {
    box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    overflow: hidden;
    padding: 0 24px;
    align-items: center;
    transition: background-color 0.2s ease-out !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.bloc-button {
  position: fixed;
  bottom: 20px;
  left: -5vh;
  width: 50%;
  text-align: right;
}