<mat-card>
  <mat-card-header  class="sticky-header">
    <mat-card-title>Détails Action</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="germinationForm" class="semis-form">
      <h2 class="section-title sticky-header">Synthèse du suivi</h2>

      <!-- Type d'action -->
      <div class="form-group full-width" *ngIf="!hideTypeField">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Type d'action</mat-label>

          <mat-select formControlName="id_action_type">
            <mat-option
              *ngFor="let actionType of getOrderedActionTypes()"
              [value]="actionType"
            >
              {{ actionType.label_default || actionType.label_fr }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div  *ngIf="code">
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="date_start">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="isReplicateDateUsed()" class="alert alert-warning">
            ⚠️ Une action de type "Suivi réplicat" existe déjà pour cette date.
          </div>
      </div>
      
     <!-- Prétraitement -->
      <div *ngIf="code === 'pret'">
        <div class="form-group half-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Liquide prétraitement</mat-label>

            <mat-select formControlName="id_water_type">
              <mat-option
                *ngFor="let liquid of getOrderedPretreatmentLiquids()"
                [value]="liquid.id_nomenclature"
              >
                {{ liquid.label_default || liquid.label_fr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group half-width">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Produit prétraitement</mat-label>

            <mat-select formControlName="id_chemical_liquid">
              <mat-option
                *ngFor="let product of getOrderedPretreatmentProducts()"
                [value]="product.id_nomenclature"
              >
                {{ product.label_default || product.label_fr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Durée (en minutes)</mat-label>
            <input matInput type="number" formControlName="duration_water">
          </mat-form-field>
         
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Concentration (%)</mat-label>
            <input matInput type="number" formControlName="concentration_chemical_liquid">
          </mat-form-field>
        
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Nb heures Lumière</mat-label>
            <input matInput type="number" formControlName="hour_count_light">
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Nb heures Obscurité</mat-label>
            <input matInput type="number" formControlName="hour_count_shadow">
          </mat-form-field>
        </div>
      </div>


            <!-- Scarification -->
      <div *ngIf="code === 'scar'">
          <!-- Type de scarification (toujours affiché) -->
          <div class="form-row">
            <div class="form-group full-width">
              <small>Type de scarification</small>
              <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="false"
                codeNomenclatureType="CFE_SCARIFICATION_TYPE"
                [parentFormControl]="germinationForm.controls.id_scarification_type"
              ></pnx-nomenclature>
            </div>
          </div>

          <!-- Si mécanique -->
          <div *ngIf="scarTypeCode === 'mec'">
              <div class="form-group full-width">
                <small>Type de scarification mécanique</small>
                <pnx-nomenclature
                  keyValue="id_nomenclature"
                  [bindAllItem]="false"
                  codeNomenclatureType="CFE_SCARIFICATION_MEC"
                  [parentFormControl]="germinationForm.controls.id_scarification_mecanique"
                ></pnx-nomenclature>
              </div>
            
              <div class="form-group half-width">
                <small>Outil</small>
                <pnx-nomenclature
                  keyValue="id_nomenclature"
                  codeNomenclatureType="CFE_SCARIFICATION_TOOL"
                  [parentFormControl]="germinationForm.controls.id_tool"
                ></pnx-nomenclature>
              </div>
          </div>

          <!-- Si chimique -->
          <div *ngIf="scarTypeCode === 'chi'">
            <div class="form-row">
              <div class="form-group half-width">
                <small>produit utilisé</small>
                <pnx-nomenclature
                  keyValue="id_nomenclature"
                  codeNomenclatureType="CFE_SCA_CH_PRODUCT"
                  [parentFormControl]="germinationForm.controls.id_chemical_liquid"
                ></pnx-nomenclature>
              </div>

              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Concentration (%)</mat-label>
                <input matInput type="number" formControlName="concentration_chemical_liquid">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Température (°C)</mat-label>
                <input matInput type="number" formControlName="temperature">
              </mat-form-field>

              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Durée (minutes)</mat-label>
                <input matInput type="number" formControlName="duration_chemical_liquid">
              </mat-form-field>
            </div>
          </div>
      </div>


      


         <!-- Stratification -->
          <div *ngIf="code === 'strat'">
            <h3 class="section-subtitle">Régime thermo-photo</h3>
            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>T° Lumière</mat-label>
                <input matInput type="number" formControlName="temperature_light">
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>T° Obscurité</mat-label>
                <input matInput type="number" formControlName="temperature_shadow">
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Nb heures Lumière</mat-label>
                <input matInput type="number" formControlName="hour_count_light">
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Nb heures Obscurité</mat-label>
                <input matInput type="number" formControlName="hour_count_shadow">
              </mat-form-field>
            </div>
          </div>
          
          
          

            <!-- Traitement -->
            <div *ngIf="code === 'tra'">
              <h3 class="section-subtitle">Liquide traitement</h3>
          
              <div class="form-row">
                <div class="form-group half-width">
                  <small>produit utilisé</small>
                  <pnx-nomenclature
                    keyValue="id_nomenclature"
                    [bindAllItem]="false"
                    codeNomenclatureType="CFE_LIQUID_TREATMENT"
                    [parentFormControl]="germinationForm.controls.id_liquid_treatment"
                  ></pnx-nomenclature>
                </div>
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>Concentration (%)</mat-label>
                  <input matInput type="number" formControlName="concentration_chemical_liquid">
                </mat-form-field>
              </div>
            
              <h3 class="section-subtitle">Régime thermo-photo</h3>
              <div class="form-row">
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>T° Lumière</mat-label>
                  <input matInput type="number" formControlName="temperature_light">
                </mat-form-field>
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>T° Obscurité</mat-label>
                  <input matInput type="number" formControlName="temperature_shadow">
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>Nb heures Lumière</mat-label>
                  <input matInput type="number" formControlName="hour_count_light">
                </mat-form-field>
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>Nb heures Obscurité</mat-label>
                  <input matInput type="number" formControlName="hour_count_shadow">
                </mat-form-field>
              </div>
              <div class="form-row">
                
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>Date de fin</mat-label>
                  <input matInput [matDatepicker]="endPicker" formControlName="date_end">
                  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            

                <!-- Afficher ces champs seulement si un type d'action est sélectionné -->
        <div  *ngIf="code">
      
          </div>
          <div class="form-row">
            <div class="form-group half-width">
              <small> Effectué par</small>
              <pnx-observers
                [bindAllItem]="true"
                [parentFormControl]="germinationForm.controls.id_actor"
                [codeList]="observers_list_code"
                matTooltipPosition="above"
                [multiSelect]="true"
              >
              </pnx-observers>
            </div>
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Remarques</mat-label>
              <textarea matInput formControlName="remarks" rows="2"></textarea>
            </mat-form-field>
            
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <pnx-dynamic-form-generator
                [myFormGroup]="additionalDataForm"
                [formsDefinition]="formsDefinition"
                [autoGenerated]="true"
              ></pnx-dynamic-form-generator>
            </div>
          </div>
          <div>
            <app-replicates-modal
            *ngIf="code === 'svr' || code === 'synth'"
            [replicatesForm]="replicatesForm"
            [replicateLabels]="replicateLabels"
            [replicates_for_form]="replicates_for_form"
            [code]="code"
            ></app-replicates-modal>
          
          </div>
         
          
        </div>

            


      <!-- Boutons -->
      <div class="form-actions dual-buttons  sticky-actions" *ngIf="code">
        <button mat-button class="cancel-button with-border " type="button" (click)="onCancel()">
          <mat-icon>close</mat-icon>
          Annuler
        </button>

        <button mat-button class="reset-button with-border" type="button" (click)="onReset()">
          <mat-icon>autorenew</mat-icon>
            Réinitialiser
          </button>

        <button mat-button class="save-button with-border" type="submit" (click)="onSubmit()"
        [disabled]="germinationForm.invalid"
        >
          <mat-icon>save</mat-icon>
          Enregistrer
        </button>
        <button mat-button class="save-button with-border"
            type="button"
            [disabled]="!germinationForm.valid"
            (click)="addNewAction()">
          <mat-icon>add</mat-icon>
          Ajouter une autre action
        </button>

      </div>
    </form>
  </mat-card-content>
</mat-card>
