
.right-panel {
  padding-bottom: 20px;
}


.no-data {
  padding: 20px;
  text-align: center;
  color: #999;
  font-style: italic;
}

.semis-table {
        margin: 0;
border-radius: 8px;
padding: 20px;
background-color: #ffffff;
  table {
    width: 100%;
    margin-top: 10px;

  }

  .no-data {
    padding: 20px;
    text-align: center;
    color: #999;
    font-style: italic;
  }
}









