
.right-panel {
  padding-bottom: 20px;
}


.no-data {
  padding: 20px;
  text-align: center;
  color: #999;
  font-style: italic;
}

.semis-table {
        margin: 0;
border-radius: 8px;
padding: 20px;
background-color: #ffffff;
  table {
    width: 100%;
    margin-top: 10px;

  }

  .no-data {
    padding: 20px;
    text-align: center;
    color: #999;
    font-style: italic;
  }
}
.header-with-button {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px; 
}

.title-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; 
}

.gray-button {
  background-color: #66BB6A !important;
  color: #fff !important;
  border: 1px solid #45A049 !important;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: 500;
  z-index: 1; 
}


.clickable-row {
  cursor: pointer;
}

::ng-deep .cdk-overlay-container {
  z-index: 1000 !important;
}

.form-group {
  margin-bottom: 5px !important;
}
.alert-card {
  margin: 20px auto;
  padding: 16px;
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.warning-card {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
