<div>
  <div class="return-button">
    <button mat-raised-button color="primary" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
      Retour
    </button>
  </div>

  <mat-card-header>
    <mat-card-title>Les Informations du semis</mat-card-title>
  </mat-card-header>

  <div>
    <mat-card-content>
      <form [formGroup]="sowingForm" class="semis-form">

        <div class="form-row">
          <div class="half-width">
            <strong>Numéro de récolte :</strong> {{ sowingForm.get('id_material')?.value }}
          </div>
          <div class="half-width">
            <strong>Stock utilisé :</strong> {{ sowingForm.get('id_storage')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="full-width">
            <strong>Numéro de semis :</strong> {{ sowingForm.get('code')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Date de début :</strong>
            {{ sowingForm.get('start_date')?.value !== '-' ? (sowingForm.get('start_date')?.value | date:'dd/MM/yyyy') : '-' }}
          </div>
          <div class="half-width">
            <strong>Date de fin :</strong>
            {{ sowingForm.get('end_date')?.value !== '-' ? (sowingForm.get('end_date')?.value | date:'dd/MM/yyyy') : '-' }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Méthode :</strong> {{ sowingForm.get('id_sowing_method')?.value }}
          </div>
          <div class="half-width">
            <strong>Substrat :</strong> {{ sowingForm.get('substrate')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Contenant :</strong> {{ sowingForm.get('container')?.value }}
          </div>
          <div class="half-width">
            <strong>Profondeur (mm) :</strong> {{ sowingForm.get('depth')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Mode d’arrosage :</strong> {{ sowingForm.get('id_watering_method')?.value }}
          </div>
          <div class="half-width">
            <strong>Personne ayant effectué le semis :</strong> {{ sowingForm.get('id_actor')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Nombre de graines semées :</strong> {{ sowingForm.get('initial_count')?.value }}
          </div>
          <div class="half-width">
            <strong>Nombre de réplicats :</strong> {{ sowingForm.get('replicate_count')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Localisation :</strong> {{ sowingForm.get('id_location')?.value }}
          </div>
          <div class="half-width">
            <strong>Précision sur la localisation :</strong> {{ sowingForm.get('specification_location')?.value }}
          </div>
        </div>

        <div class="form-row">
          <div class="half-width">
            <strong>Remarque :</strong> <i>{{ sowingForm.get('remarks')?.value }}</i>
          </div>
          <div class="half-width">
            <strong>Programme :</strong> {{ sowingForm.get('additional_data')?.value?.program || '-' }}
          </div>
        </div>

      </form>
    </mat-card-content>
  </div>

  <div class="action-detail split-view">
    <div class="germination-list">
      <app-action-table
        [idSowing]="idSowing"
        [sowingCode]="sowingForm.get('code')?.value"
        [enablePagination]="true"
        [dataSource]="dataSource"
        (rowClicked)="onActionSelected($event)">
      </app-action-table>
    </div>

    <div class="germination-detail" *ngIf="selectedAction">
      <app-action-details
        [actionId]="selectedAction.id_action"
        [isSowingContext]="true"
        (hideDetails)="hideSelectedActionDetails()">
      </app-action-details>
  </div>
</div>