<!-- RETOUR VERS LA RÉCOLTE -->
<div class="material-list-return-button">

  <button
    mat-raised-button
    type="button"
    (click)="onBackToHarvest()"
  >
    <mat-icon>arrow_back</mat-icon>

    Retour
  </button>

</div>

<mat-card class="material-list-card">

  <div class="material-list-hero">

    <div class="material-list-hero-icon">
      <mat-icon>spa</mat-icon>
    </div>

  </div>

  <mat-card-header class="material-list-header">

    <button
      mat-button
      class="material-add-button"
      (click)="addModalMaterial()"
    >
      <mat-icon>add</mat-icon>

      Ajouter une fiche de matériel récolté
    </button>

    <div class="material-title-wrapper">
      <mat-card-title>
        Fiche des Matériels récoltés
      </mat-card-title>
    </div>

  </mat-card-header>

  <mat-card-content class="material-list-content">

    <ng-container
      *ngIf="
        allMaterials.length > 0;
        else noMaterialData
      "
    >

      <!-- ===================================================
           FILTRES MATÉRIELS RÉCOLTÉS
           =================================================== -->

      <div class="material-filters-card">

        <div class="material-filters-header">

          <div class="material-filters-title">

            <div class="material-filters-icon">

              <mat-icon>
                filter_alt
              </mat-icon>

            </div>


            <div>

              <span>
                Filtres des matériels récoltés
              </span>

              <small>
                Affiner par N° récolte, taxon,
                matériel végétal, banque culturale
                et récolte parent
              </small>

            </div>

          </div>


          <button
            mat-button
            type="button"
            class="reset-material-filter-button"
            (click)="resetMaterialFilters()"
          >

            <mat-icon>
              autorenew
            </mat-icon>

            Réinitialiser

          </button>

        </div>


        <div class="material-filter-fields">

          <!-- N° RÉCOLTE -->

          <mat-form-field
            appearance="outline"
            class="material-filter-field"
          >

            <mat-label>
              N° récolte
            </mat-label>

            <input
              matInput
              [(ngModel)]="materialCodeFilter"
              (ngModelChange)="
                onMaterialCodeFilterChange(
                  $event
                )
              "
              placeholder="Rechercher un N° récolte"
            >

            <mat-icon matSuffix>
              search
            </mat-icon>

          </mat-form-field>


          <!-- TAXONS -->

          <mat-form-field
            appearance="outline"
            class="material-filter-field"
          >

            <mat-label>
              Taxons
            </mat-label>

            <mat-select
              [value]="materialTaxonFilter"
              (selectionChange)="
                onMaterialTaxonFilterChange(
                  $event.value
                )
              "
            >

              <mat-option [value]="null">
                Tous les taxons
              </mat-option>


              <mat-option
                *ngFor="
                  let taxon of
                  materialTaxonFilterOptions
                "
                [value]="taxon"
              >
                {{ taxon }}
              </mat-option>

            </mat-select>

          </mat-form-field>


          <!-- MATÉRIEL VÉGÉTAL -->

          <mat-form-field
            appearance="outline"
            class="material-filter-field"
          >

            <mat-label>
              Matériel végétal
            </mat-label>

            <mat-select
              [value]="materialTypeFilter"
              (selectionChange)="
                onMaterialTypeFilterChange(
                  $event.value
                )
              "
            >

              <mat-option [value]="null">
                Tous les matériels
              </mat-option>


              <mat-option
                *ngFor="
                  let materialType of
                  materialTypeFilterOptions
                "
                [value]="materialType"
              >
                {{ materialType }}
              </mat-option>

            </mat-select>

          </mat-form-field>


          <!-- N° BANQUE CULTURALE -->

          <mat-form-field
            appearance="outline"
            class="
              material-filter-field
              material-cultural-bank-filter-field
            "
          >

            <mat-label>
              N° banque culturale
            </mat-label>

            <mat-select
              [value]="
                materialCulturalBankFilter
              "
              (selectionChange)="
                onMaterialCulturalBankFilterChange(
                  $event.value
                )
              "
            >

              <mat-option [value]="null">
                Toutes les banques
              </mat-option>


              <mat-option
                *ngFor="
                  let culturalBank of
                  materialCulturalBankFilterOptions
                "
                [value]="culturalBank"
              >
                {{ culturalBank }}
              </mat-option>

            </mat-select>

          </mat-form-field>


          <!-- N° RÉCOLTE PARENT -->

          <mat-form-field
            appearance="outline"
            class="material-filter-field"
          >

            <mat-label>
              N° récolte parent
            </mat-label>

            <mat-select
              [value]="materialParentFilter"
              (selectionChange)="
                onMaterialParentFilterChange(
                  $event.value
                )
              "
            >

              <mat-option [value]="null">
                Toutes les récoltes parentes
              </mat-option>


              <mat-option
                *ngFor="
                  let parent of
                  materialParentFilterOptions
                "
                [value]="parent"
              >
                {{ parent }}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

      </div>


      <!-- LISTE FILTRÉE -->

      <ng-container
        *ngIf="
          dataSource.data.length > 0;
          else noFilteredMaterial
        "
      >

      <div
        id="matlist-container"
        #dataTableContainer
      >

        <div class="material-list-table-scroll">

        <table
          mat-table
          [dataSource]="dataSource"
          class="material-list-table"
        >
      <!-- N° de Récolte -->
      <ng-container matColumnDef="code_material">
        <th mat-header-cell *matHeaderCellDef > N° récolte </th>
        <td mat-cell *matCellDef="let element"> {{ element.code_material }} </td>
      </ng-container>
      <!-- Matériel végétal -->
      <ng-container matColumnDef="harvest_material">
        <th mat-header-cell *matHeaderCellDef> Matériel végétal </th>
        <td mat-cell *matCellDef="let element"> {{ element.harvest_material_label }} </td>
      </ng-container>

      <!-- Taxons -->
      <ng-container matColumnDef="taxons">
        <th mat-header-cell *matHeaderCellDef> Taxons </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ element.taxonsTooltip }}"
        >
          {{ element.taxonsDisplay || '-' }}
        </td>
      </ng-container>

      <!-- N° de Récolte parent -->
      <ng-container matColumnDef="code_material_parent">
        <th mat-header-cell *matHeaderCellDef> N° récolte parent </th>
        <td mat-cell *matCellDef="let element">
          {{ element.code_parent || '-' }}
        </td>
      </ng-container>

      <!-- N° de banque -->
      <ng-container matColumnDef="code_cultural_bank">
        <th mat-header-cell *matHeaderCellDef> N° banque culturale </th>
        <td mat-cell *matCellDef="let element">
          {{ element.code_cultural_bank || '-' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef aria-label="Actions"></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            class="actions-trigger-red"
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            aria-label="Actions"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
              (click)="editOccurrence(element)"
            >
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>

            <button
              mat-menu-item
              (click)="goToMaterialDetails(element)"
            >
              <mat-icon style="color: #FFA726;">
                visibility
              </mat-icon>

              <span>
                Détails/Action
              </span>
            </button>

            <button
              mat-menu-item
              class="delete-action-red"
              (click)="deleteOccurrence(element)"
            >
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>

            <button
              mat-menu-item
              *ngIf="
                constants.SEED_DESCRIPTION_CODES.includes(
                  element.harvest_material_code
                ) &&
                element.taxons &&
                element.taxons.length > 0
              "
              class="seed-action"
              (click)="goToSeedDetails(element)"
            >
              <mat-icon>description</mat-icon>
              <span>Détails semence</span>
            </button>

            <button
              mat-menu-item
              class="stock-action"
              (click)="goToStock(element)"
            >
              <mat-icon>store</mat-icon>
              <span>Stocker</span>
            </button>

            <button
              mat-menu-item
              class="culture-action"
              (click)="goToCulture(element)"
            >
              <mat-icon>local_florist</mat-icon>
              <span>Culture</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          let i = index;
          columns: displayedColumns;
        "
        class="clickable-row"
        [ngClass]="{
          highlighted:
            row.id_material ===
            exsituFormService.idMaterial
        }"
        (click)="selectMaterial(row)"
      ></tr>
    </table>

    </div>

      <mat-paginator
        class="material-list-paginator"
        [pageSize]="rowPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      >
      </mat-paginator>

    </div>

      </ng-container>


      <!-- Aucun résultat après filtrage -->

      <ng-template #noFilteredMaterial>

        <div class="no-filtered-material">

          <mat-icon>
            filter_alt_off
          </mat-icon>


          <div>

            <strong>
              Aucun matériel récolté ne correspond aux filtres.
            </strong>

            <span>
              Modifiez les critères ou réinitialisez les filtres.
            </span>

          </div>

        </div>

      </ng-template>

  </ng-container>


  <ng-template #noMaterialData>

    <mat-card class="material-empty-card mt-4">

      <mat-icon color="warn">
        info
      </mat-icon>

      Aucun matériel récolté enregistré pour cette récolte.

    </mat-card>

  </ng-template>

</mat-card-content>

</mat-card>
