.btn-edit {
    color: #5343da;
    margin-right: 5px;
}
  
.btn-clear {
    color: red !important;
}

.btn-edit{
    color: rgb(42, 42, 164) !important;
}

.btn-add{
    color: green !important;
}

#matlist-container {
    height: 80%;
    overflow-y: auto;
    /* background-color: #95949833;
    box-shadow:
      2px 3px 4px 0px rgba(0, 0, 0, 0.2),
      -2px 3px 4px 0px rgba(0, 0, 0, 0.2); */
}

.highlighted {
    background-color: rgb(29, 218, 48) !important;
}

/* 
    Correction : les dropdown des ng-select ont un z-index de 1050,  
    le cdk-overlay-container de 2000. Résultat, les valeurs de ng-select ne s'affichent pas quand on
    utilise les modals
*/
::ng-deep .cdk-overlay-container {
    z-index: 1000 !important;
}