<button mat-raised-button class="button-success uppercase" (click)="addModalMaterial()">Ajouter matériel</button>
<div id="matlist-container" class="card mt-2">
  <div class="mt-2" 
    #dataTableContainer
  >
    <table mat-table [dataSource]="dataSource" class="mat-table">
      <!-- N° de Récolte -->
      <ng-container matColumnDef="code_material">
        <th mat-header-cell *matHeaderCellDef > N° réc </th>
        <td mat-cell *matCellDef="let element"> {{ element.code_material }} </td>
      </ng-container>
      <!-- Matériel végétal -->
      <ng-container matColumnDef="harvest_material">
        <th mat-header-cell *matHeaderCellDef> Matériel végétal </th>
        <td mat-cell *matCellDef="let element"> {{ element.harvest_material_label }} </td>
      </ng-container>
      <!-- Matériel végétal -->
      <ng-container matColumnDef="taxons">
        <th mat-header-cell *matHeaderCellDef> Taxons </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element.taxonsTooltip }}"> 
          {{ element.taxonsDisplay }} 
        </td>
      </ng-container>
      <!-- Boutons d'action (Fusionner les colonnes Info, Edit, Delete en une seule colonne) -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
              (click)="editOccurrence(element)"
            >
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item 
              [disabled]="element.has_seed_description"
              (click)="deleteOccurrence(element)"
            >
              <mat-icon color="warn">delete</mat-icon>
              <span>Supprimer</span>
            </button>
            <button mat-menu-item
              *ngIf="constants.SEED_DESCRIPTION_CODES.includes(element.harvest_material_code) && element.taxons && element.taxons.length > 0"
              (click)="onAddOrEditSeed(element.id_material)"
            >
              <mat-icon
                [ngStyle]="{
                  color: element.has_seed_description ? 'green' : '#FFA726'
                }"
              >description</mat-icon>
              <span>Description</span>
            </button>
            <button mat-menu-item 
              *ngIf="constants.STORABLE_MATERIAL_CODES.includes(element.harvest_material_code)"
              (click)="goToStock(element.id_material)"
            >
              <mat-icon>warehouse</mat-icon>
              <span>Stocker</span>
            </button>
          </mat-menu>
          <!-- <button 
            mat-icon-button 
            aria-label="Edit" 
            matTooltip="Modifier le matériel"
            (click)="editOccurrence(element)"
          ><mat-icon>edit</mat-icon></button> -->
          <!-- <button 
            mat-icon-button 
            color="warn" 
            aria-label="Delete" 
            matTooltip="Supprimer le matériel"
            [disabled]="element.has_seed_description"
            (click)="deleteOccurrence(element)"
          >
            <mat-icon>delete</mat-icon>
          </button> -->
          <!-- <button 
            mat-icon-button 
            [ngStyle]="{
              color: element.has_seed_description ? 'green' : '#FFA726'
            }"
            matTooltip="Description de graine"
            *ngIf="constants.SEED_DESCRIPTION_CODES.includes(element.harvest_material_code) && element.taxons && element.taxons.length > 0"
            (click)="onAddOrEditSeed(element.id_material)"
          >
            <mat-icon>description</mat-icon>
          </button> -->
          <!-- <button 
            *ngIf="constants.STORABLE_MATERIAL_CODES.includes(element.harvest_material_code)"
            mat-icon-button 
            aria-label="Stock" 
            matTooltip="Stocker le matériel"
            (click)="goToStock(element.id_material)"
          ><mat-icon>warehouse</mat-icon></button> -->
        </td>
      </ng-container>
      <!-- Lignes de l'en-tête et des données -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
          [length]="totalMaterials"
          [pageSize]="rowPerPage"    
          [pageSizeOptions]="[5, 10, 25, 100]"  
          [showFirstLastButtons]="true" 
          (page)="onPaginateChange()"
        ></mat-paginator>
  </div>
</div>
