<h2>Liste des matériels</h2>
<div id="matlist-container">
  <div class="mt-2">
    <ngx-datatable
    class="material striped margin-top-xs table-size expandable"
    [headerHeight]="35"
    [footerHeight]="40"
    [rowHeight]="40"
    [columnMode]="'force'"
    [selected]="mapListService.selectedRow"
    [loadingIndicator]="mapListService.isLoading"
    [externalPaging]="true"
    [count]="totalMaterials"
    [offset]="pagination.offset"
    [limit]="rowPerPage"
    [rows]="materials"
    (page)="onChangePage($event)"
  >
    <!-- Code matériel -->
    <ngx-datatable-column name="Code Matériel">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span matTooltip="{{ row.code_material }}">{{ row.code_material }}</span>
      </ng-template>
    </ngx-datatable-column>

    <!-- Bouton Ajouter taxon -->
    <ngx-datatable-column maxWidth="10">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button class="btn btn-outline-shadow btn-no-padding btn-ghost btn-addt" (click)="openTaxonModal(row.id_material, row.code_material)">
          <i matTooltip="Ajouter un taxon" class="fa fa-plus-circle"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

    <!-- Bouton Éditer -->
    <ngx-datatable-column maxWidth="10">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button class="btn btn-outline-shadow btn-no-padding btn-ghost btn-edit" (click)="editOccurrence(row)">
          <i matTooltip="Modifier le matériel" class="fa fa-pencil"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

    <!-- Bouton Supprimer -->
    <ngx-datatable-column maxWidth="10">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button class="btn btn-outline-shadow btn-no-padding btn-ghost btn-clear" (click)="deleteOccurrence(row)">
          <i matTooltip="Supprimer le matériel" class="fa fa-trash-o"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  </div>
</div>
