.btn-edit {
    color: #5343da;
    margin-right: 5px;
}
  
.btn-clear {
    color: red !important;
}

.btn-edit{
    color: rgb(42, 42, 164) !important;
}

.btn-add{
    color: green !important;
}

#matlist-container {
    height: 90%;
    overflow-y: auto;
    background-color: #95949833;
    box-shadow:
      2px 3px 4px 0px rgba(0, 0, 0, 0.2),
      -2px 3px 4px 0px rgba(0, 0, 0, 0.2);
}