<div class="card filter-section">
    <form>
      <!-- Bloc QUOI -->
      <fieldset>
        <legend>Quoi ?</legend>
        <pnx-taxonomy
          id="taxon"
          label="Taxon"
          [charNumber]="3"
          [listLength]="20"
          matTooltipPosition="above"
          [parentFormControl]="filterForm.controls.cd_nom"
          (onChange)="addTaxon($event)"
          >
        </pnx-taxonomy>
        <!-- Affichage des taxons sélectionnés -->
        <div *ngIf="selectedTaxons.length > 0" class="alert alert-warning search-alert mt-2">
          <p class="taxon-list"><b>Taxon(s) sélectionné(s) :</b></p>
          <ul class="taxon-list">
            <li *ngFor="let taxon of selectedTaxons; let i = index"
                class="d-flex justify-content-between align-items-center">
              {{ taxon.nom_valide }} ({{ taxon.cd_nom }})
              <i (click)="removeTaxon(i)"
                class="fa fa-times clickable"
                matTooltip="Retirer {{ taxon.nom_valide }} des filtres de recherche">
              </i>
            </li>
          </ul>
        </div>


        <pnx-autocomplete
            id="habitat"
            apiEndPoint="{{ storeService.config.API_ENDPOINT }}/habref/habitats/autocomplete"
            [searchAsParameter]="false"
            queryParamSearch="search_name"
            [parentFormControl]="filterForm.controls.cd_hab"
            keyValue="search_name"
            [formatter]="formatter"
            label="Habitat"
            placeholder="Tapez les premières lettres..."
          ></pnx-autocomplete>

          <small>N° de récolte</small>
          <input type="text"
                class="form-control form-control-sm"
                id="num"
                placeholder="Tapez les premières lettres"
                [formControl]="filterForm.controls.code_material" 
                [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let code of filteredCodes$ | async" [value]="code">
              {{ code }}
            </mat-option>
          </mat-autocomplete>


          <small> Type de récolte * :</small>
          <pnx-nomenclature
                  keyValue="id_nomenclature"
                  [bindAllItem]="true"
                  keyLabel="label_default"
                  codeNomenclatureType="CFE_HARVEST_TYPE"
                  [parentFormControl]="filterForm.controls.id_harvest_type"
                >
          </pnx-nomenclature>
            <!-- <small>Type de récolte</small>
            <input type="text" class="form-control form-control-sm" id="type"> -->

      </fieldset>

      <!-- Bloc QUAND -->
      <fieldset>
        <legend>Quand ?</legend>
        <div class="row row-sm">
          <pnx-date
            label="Date min"
            [parentFormControl]="filterForm.controls.date_start"
          ></pnx-date>
        </div>
        <div class="row row-sm">
          <pnx-date
            label="Date max"
            [parentFormControl]="filterForm.controls.date_end"
          ></pnx-date>
        </div>
        <div *ngIf="filterForm.errors?.dateRangeInvalid" class="error">
            La date max ne peut pas être inférieure à la date min.
        </div>
      
      </fieldset>

      <!-- Bloc OU -->
      <fieldset>
        <legend>Qui ?</legend>
        <pnx-observers
          [bindAllItem]="true"
          [parentFormControl]="filterForm.controls.observers"
          [codeList]="storeService.cfeConfig.observers_list_code"
          matTooltipPosition="above"
          [multiSelect]="true"
        >
        </pnx-observers>
      </fieldset>

      <!-- Bloc OU -->
      <fieldset>
        <legend>Où ?</legend>      
        
        <pnx-areas
          label="Commune"
          [typeCodes]="['COM']"
          [parentFormControl]="filterForm.controls.municipalites"
          >
        </pnx-areas>

       <pnx-areas
          label="Département"
          [typeCodes]="['DEP']"
          [parentFormControl]="filterForm.controls.departements"
          >
       </pnx-areas>

      </fieldset>


      <div class="filter-actions">
        <button color="warn" type="button" mat-raised-button (click)="resetFilters()">
          <i
            class="fa fa-refresh"
            aria-hidden="true"
          ></i>
        </button>
        <button 
            (click)="applyFilters()" 
            mat-raised-button type="button" 
            class="button-success uppercase"
            [disabled]="filterForm.invalid"
          >
            Rechercher
          </button>
      </div>
    </form>
</div>