.filter-section {
    max-height: 86vh;
    overflow: auto;
    position: unset;
    max-width: 27vh;
}

/*  Style des blocs de filtres */
fieldset {
    padding: 0.35em 0.625em 0.75em !important;
    border: 1px solid silver !important;
    margin: 0 2px !important;
    border-radius: 3px;
}
  

/* Style des boutons de filtrage */
.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
/*  Style du titre des blocs */
legend {
    width: auto;
    font-size: inherit;
}

.filter-actions {
    margin-top: 50px;
    position: sticky;
    bottom: 0;
    background: white;
    padding: 15px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.taxon-list {
    margin-bottom: 0px;
    font-size: 12px;
  }
  
  .taxon-list li:hover {
    background-color: rgba(#fff, 0.5);
  }