<div>
  <div class="return-button">
    <button mat-raised-button color="primary" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
      Retour
    </button>
  </div>  
    <mat-card-header>
      <mat-card-title>Les Informations du test de germination </mat-card-title>
    </mat-card-header>
    <div>
      <mat-card-content>
        <form [formGroup]="germinationForm" class="semis-form">      
      
      <div class="form-row">
        <div class="half-width">
          <strong>Matériel végétal :</strong> {{ germinationForm.get('id_material')?.value }}
        </div>
        <div class="half-width">
          <strong>Effectué par :</strong> {{ germinationForm.get('id_actor')?.value }}
        </div>
      </div>

      <div class="form-row">
        <div class="half-width">
          <strong>Numéro de TG :</strong> {{ germinationForm.get('code')?.value }}
        </div>
        <div class="half-width">
          <strong>Stock utilisé :</strong> {{ germinationForm.get('id_storage')?.value }}
          
        </div>

      </div>

      <div class="form-row">
        <div class="half-width">
          <strong>Nombre de graines testées :</strong> {{ germinationForm.get('seed_initial_count')?.value }}
        </div>
        <div class="half-width">
          <strong>Nombre de réplicats :</strong> {{ germinationForm.get('replicate_count')?.value }}
        </div>
      </div>

      <div class="form-row">
        <div class="half-width">
          <strong>Substrat :</strong> {{ germinationForm.get('id_substrate')?.value }}
        </div>
        <div class="half-width">
          <strong>Support :</strong> {{ germinationForm.get('id_support')?.value }}
        </div>
      </div>
      <div class="form-row">
        <div class="half-width">
          <strong>Programme :</strong> {{ germinationForm.get('additional_data')?.value?.program || '-' }}
        </div>
        <div class="half-width">
          <strong>Remarques :</strong> {{ germinationForm.get('remarks')?.value }}
        </div>
      </div>
        </form>
        
      </mat-card-content>
    </div>
    <div class="action-detail split-view">
      <div class="germination-list">
        <app-action-table
          [dataSource]="dataSource"
          [idTest]="idTest" 
          (rowClicked)="onActionSelected($event)">
        </app-action-table>
      </div>
    
      <div class="germination-detail" *ngIf="selectedAction">
        <app-action-details [actionId]="selectedAction.id_action"></app-action-details>

      </div>
    </div>
    
</div>


