<mat-card class="culture-action-details-card">

  <mat-card-header class="culture-action-details-header">

    <mat-card-title>
      Détails de l'action
    </mat-card-title>

    <button
      mat-raised-button
      type="button"
      class="culture-action-hide-details-button"
      (click)="onHideDetails()"
    >
      <mat-icon>
        visibility_off
      </mat-icon>
      Masquer
    </button>

  </mat-card-header>


  <mat-card-content>

    <div class="culture-action-form">

    <div
      class="culture-action-loading"
      *ngIf="isLoading"
    >
      Chargement des détails...
    </div>


    <div
      class="culture-action-error"
      *ngIf="
        !isLoading &&
        errorMessage
      "
    >
      {{ errorMessage }}
    </div>


    <ng-container
      *ngIf="
        !isLoading &&
        !errorMessage &&
        actionDetails
      "
    >

      <div class="culture-action-detail-section-header">

        <div class="culture-action-detail-section-icon">
          <mat-icon>assignment</mat-icon>
        </div>

        <div class="culture-action-detail-section-text">

          <span class="culture-action-detail-section-title">
            Identification de l'action
          </span>

          <span class="culture-action-detail-section-subtitle">
            Type d'action et date de réalisation
          </span>

        </div>

      </div>


      <div class="culture-action-field-block culture-action-type-highlight">

        <label>
          Type d'action :
        </label>

        <span>
          {{ actionTypeLabel }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Date de début :
        </label>

        <span>
          {{
            actionDetails.date_start
              ? (
                  actionDetails.date_start
                  | date:'dd/MM/yyyy'
                )
              : '-'
          }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Date de fin :
        </label>

        <span>
          {{
            actionDetails.date_end
              ? (
                  actionDetails.date_end
                  | date:'dd/MM/yyyy'
                )
              : '-'
          }}
        </span>

      </div>


      <ng-container *ngIf="isTransplantation">

      <div class="culture-action-detail-section-header">

        <div class="culture-action-detail-section-icon">
          <mat-icon>swap_horiz</mat-icon>
        </div>

        <div class="culture-action-detail-section-text">

          <span class="culture-action-detail-section-title">
            Paramètres de transplantation
          </span>

          <span class="culture-action-detail-section-subtitle">
            Type, quantités et conditionnement de l'intervention
          </span>

        </div>

      </div>


      <div class="culture-action-field-block">

        <label>
          Type de transplantation :
        </label>

        <span>
          {{
            actionDetails
              .transplantation_type_label ||
            '-'
          }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Quantité intervention :
        </label>

        <span>
          {{
            actionDetails
              .intervention_quantity ??
            '-'
          }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Quantité en cours :
        </label>

        <span>
          {{
            actionDetails
              .in_progress_quantity ??
            '-'
          }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Conditionnement :
        </label>

        <span>
          {{
            actionDetails.packaging ||
            '-'
          }}
        </span>

      </div>


      <div class="culture-action-detail-subsection-header">

        <mat-icon>terrain</mat-icon>

        <span>
          Composition du substrat
        </span>

      </div>


      <div
        class="culture-action-substrate-table-wrapper"
        *ngIf="
          substrates.length > 0;
          else noSubstrate
        "
      >

        <table class="culture-action-substrate-table">

          <thead>

            <tr>

              <th>
                Type de substrat
              </th>

              <th>
                Catégorie
              </th>

              <th>
                Pourcentage
              </th>

            </tr>

          </thead>

          <tbody>

            <tr
              *ngFor="let substrate of substrates"
            >

              <td>
                {{ substrate.type || '-' }}
              </td>

              <td>
                {{
                  formatSubstrateCategory(
                    substrate.category
                  )
                }}
              </td>

              <td>
                {{
                  substrate.percentage !== null &&
                  substrate.percentage !== undefined
                    ? substrate.percentage + ' %'
                    : '-'
                }}
              </td>

            </tr>

            <tr class="culture-action-substrate-total-row">

              <td colspan="2">
                Total renseigné
              </td>

              <td>
                {{ substratePercentageTotal }} % / 100 %
              </td>

            </tr>

          </tbody>

        </table>

      </div>


      <ng-template #noSubstrate>

        <div class="culture-action-empty-substrate">

          <mat-icon>info</mat-icon>

          <span>
            Aucun substrat renseigné.
          </span>

        </div>

      </ng-template>


      <div class="culture-action-detail-section-header">

        <div class="culture-action-detail-section-icon">
          <mat-icon>place</mat-icon>
        </div>

        <div class="culture-action-detail-section-text">

          <span class="culture-action-detail-section-title">
            Développement et localisation
          </span>

          <span class="culture-action-detail-section-subtitle">
            Stade physiologique et emplacement de la Culture
          </span>

        </div>

      </div>


      <div
        class="culture-action-field-block culture-action-field-block--physiological-stage"
      >

        <label>
          Phase de développement physiologique :
        </label>

        <span>
          {{
            actionDetails
              .physiological_stage_label ||
            '-'
          }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Localisation principale :
        </label>

        <span>
          {{
            actionDetails
              .main_location_label ||
            '-'
          }}
        </span>

      </div>


      <div class="culture-action-field-block">

        <label>
          Localisation précise :
        </label>

        <span>
          {{
            actionDetails
              .precise_location ||
            '-'
          }}
        </span>

      </div>


      </ng-container>


      <ng-container *ngIf="isObservation">

        <div class="culture-action-detail-section-header">

          <div class="culture-action-detail-section-icon">
            <mat-icon>visibility</mat-icon>
          </div>

          <div class="culture-action-detail-section-text">

            <span class="culture-action-detail-section-title">
              Paramètres de l'observation
            </span>

            <span class="culture-action-detail-section-subtitle">
              Nombre d'individus et stade phénologique
            </span>

          </div>

        </div>


        <div class="culture-action-field-block">

          <label>
            Nombre d'individus :
          </label>

          <span>
            {{
              actionDetails.individual_count ??
              '-'
            }}
          </span>

        </div>


        <div class="culture-action-field-block">

          <label>
            Stade phénologique :
          </label>

          <span>
            {{
              actionDetails
                .phenological_stage_label ||
              '-'
            }}
          </span>

        </div>

      </ng-container>


      <ng-container *ngIf="isTreatment">

        <div class="culture-action-detail-section-header">

          <div class="culture-action-detail-section-icon">
            <mat-icon>healing</mat-icon>
          </div>

          <div class="culture-action-detail-section-text">

            <span class="culture-action-detail-section-title">
              Paramètres du traitement
            </span>

            <span class="culture-action-detail-section-subtitle">
              Stade physiologique, traitement et réussite
            </span>

          </div>

        </div>


        <div
          class="culture-action-field-block culture-action-field-block--physiological-stage"
        >

          <label>
            Phase de développement physiologique :
          </label>

          <span>
            {{
              actionDetails
                .physiological_stage_label ||
              '-'
            }}
          </span>

        </div>


        <div class="culture-action-field-block">

          <label>
            Maladie ou carence :
          </label>

          <span>
            {{
              actionDetails
                .disease_or_deficiency ||
              '-'
            }}
          </span>

        </div>


        <div class="culture-action-field-block">

          <label>
            Type :
          </label>

          <span>
            {{
              actionDetails.type ||
              '-'
            }}
          </span>

        </div>


        <div class="culture-action-field-block">

          <label>
            Réussite :
          </label>

          <span>
            {{
              formatSuccess(
                actionDetails.success
              )
            }}
          </span>

        </div>

      </ng-container>


      <ng-container *ngIf="isSampling">

        <div class="culture-action-detail-section-header">

          <div class="culture-action-detail-section-icon">
            <mat-icon>content_cut</mat-icon>
          </div>

          <div class="culture-action-detail-section-text">

            <span class="culture-action-detail-section-title">
              Paramètres du prélèvement
            </span>

            <span class="culture-action-detail-section-subtitle">
              Quantité prélevée
            </span>

          </div>

        </div>


        <div class="culture-action-field-block">

          <label>
            Quantité :
          </label>

          <span>
            {{
              actionDetails.quantity ??
              '-'
            }}
          </span>

        </div>

      </ng-container>


      <div class="culture-action-detail-section-header">

        <div class="culture-action-detail-section-icon">
          <mat-icon>person</mat-icon>
        </div>

        <div class="culture-action-detail-section-text">

          <span class="culture-action-detail-section-title">
            Suivi et informations complémentaires
          </span>

          <span class="culture-action-detail-section-subtitle">
            {{
              isTreatment
                ? "Personne ayant effectué l'action"
                : "Personne ayant effectué l'action et remarques générales"
            }}
          </span>

        </div>

      </div>


      <div class="culture-action-field-block">

        <label>
          Effectué par :
        </label>

        <span>
          {{
            actionDetails.actor_label ||
            '-'
          }}
        </span>

      </div>


      <div
        class="culture-action-field-block"
        *ngIf="!isTreatment"
      >

        <label>
          Remarques :
        </label>

        <span>
          {{
            actionDetails.remarks ||
            '-'
          }}
        </span>

      </div>

    </ng-container>

    </div>

  </mat-card-content>




</mat-card>