
<h1 mat-dialog-title *ngIf="!edit">Ajouter une action</h1>
<h1 mat-dialog-title *ngIf="edit">Modifier l'action</h1>
<mat-dialog-content class="mat-typography" *ngIf="actionForm">
  <div class="row row-0 mr-3 mt-2">
      <div class="col-6 padding-sm">
        <label> Type d'action *</label>
        <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="false"
                codeNomenclatureType="CFE_ACTION_TYPE"
                [parentFormControl]="actionForm.controls.id_action_type"
          >
       </pnx-nomenclature>
        <div *ngIf="showInitialStockWarning" class="alert alert-warning">
          ⚠️ Aucune action de stockage initial détectée. Veuillez commencer par un stockage initial.
        </div>
      
      </div>
      <div class="col-6 padding-sm">
        <label> Auteur de l'action *</label>
        <pnx-observers
          [bindAllItem]="true"
          [parentFormControl]="actionForm.controls.id_actor"
          [codeList]="auteurs_code"
          matTooltipPosition="above"
          [multiSelect]="true"
        >
        </pnx-observers>
      </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col-4 padding-sm">
      <div class="form-group">
        <pnx-date
          [defaultToday]="true"
          label="Date début"
          [parentFormControl]="actionForm.controls.date_start"
        ></pnx-date>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <pnx-date
          label="Date fin"
          [parentFormControl]="actionForm.controls.date_end"
        ></pnx-date>
      </div>
    </div>
  </div>

  <div class="row row-0 mr-3">
    <div class="col-6 padding-sm">
      <label>Type de déstockage</label>
      <pnx-nomenclature
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="CFE_DESTOCK"
              [parentFormControl]="actionForm.controls.id_destock"
        >
     </pnx-nomenclature>
    </div>
    <div class="col-6 padding-sm" *ngIf="showDestinationField">
      <label>Destination</label>
      <pnx-nomenclature *ngIf="showInternalField"
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="CFE_INTERNAL_DESTINATION"
              [parentFormControl]="actionForm.controls.id_destination"
        >
     </pnx-nomenclature>
     <pnx-nomenclature *ngIf="showExternalField"
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="CFE_EXTERNAL_DESTINATION"
              [parentFormControl]="actionForm.controls.id_destination"
        >
     </pnx-nomenclature>
    </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col-6 padding-sm">
      <label>Evaluation de l'humidité</label>
      <pnx-nomenclature
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="CFE_HUMIDITY_LEVEL"
              [parentFormControl]="actionForm.controls.id_humidity_level"
        >
     </pnx-nomenclature>
    </div>
    <div class="col-6 padding-sm">
      <label>Appareil</label>
      <pnx-nomenclature
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="CFE_HUMIDITY_DEVICE"
              [parentFormControl]="actionForm.controls.id_humidity_device"
        >
     </pnx-nomenclature>
    </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col-6 padding-sm">
      <label>Quantité</label>
      <input
        class="form-control"
        type="number"
        [formControl]="actionForm.controls.quantity"
      />
      <mat-error *ngIf="actionForm.get('quantity')?.hasError('exceedMax')">
        La quantité dépasse la quantité maximale disponible ({{ quantiteMaxDisponible }}).
      </mat-error>
    </div>
    <div class="col-6 padding-sm">
        <label>Mesure de l'humidité précise</label>
        <input
          class="form-control"
          type="number"
          [formControl]="actionForm.controls.humidity_rate"
        />
    </div>
  </div>

  <div class="row row-0 mr-3 mt-2">
    <div class="col-6 padding-sm">
      <label>Type de séchage</label>
      <pnx-nomenclature
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="CFE_DRY_TYPE"
              [parentFormControl]="actionForm.controls.id_dry_type"
        >
     </pnx-nomenclature>
    </div>
  </div>

  <div class="row row-0 mt-3 mr-3">
    <div class="col padding-sm">
      <textarea
          class="form-control form-control-sm"
          placeholder="Remarques générales"
          [formControl]="actionForm.controls.remarks"
        ></textarea>
    </div>
  </div>
  <mat-card appearance="outlined" class="mt-3" *ngIf="formsDefinition?.length">
    <mat-card-header>
      <mat-card-title>Données supplémentaires</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row row-0">
        <div class="form-group col-6">
          <pnx-dynamic-form-generator
            [myFormGroup]="additionalDataForm"
            [formsDefinition]="formsDefinition"
            [autoGenerated]="true"
          ></pnx-dynamic-form-generator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: space-between; align-items: center;" class="ml-3 mr-4">
  <div>
    <button *ngIf="edit"
        color="warn"
        mat-raised-button
        matTooltip="Supprimer cette action">
          Supprimer l'action
          <mat-icon style="vertical-align: middle">delete</mat-icon>
    </button>
  </div>
  <div>
    <ng-container *ngIf="!edit; else modifButton">
        <button
            style="margin-right: 20px"
            color="warn"
            mat-raised-button
            (click)="close()"
          >
            Retour
        </button>
      <button
        mat-button [mat-dialog-close]="true"
        matTooltip="Enregistrer cette action"
        class="button-success"
        (click)="submetData()"
        [disabled]="!actionForm.valid || showInitialStockWarning"
      >
        Ajouter l'action
        <mat-icon style="vertical-align: middle">save</mat-icon>
      </button>
    </ng-container>
    <ng-template #modifButton>
      <button
        style="margin-right: 20px"
        color="warn"
        mat-raised-button
        (click)="close()"
      >
        Annuler
      </button>
      <button
        class="button-success uppercase"
        mat-button [mat-dialog-close]="true"
        matTooltip="Modifier et enregistrer cette action"
        (click)="submetData()"
        [disabled]="!actionForm.valid"
      >
        Modifier l'action
        <mat-icon style="vertical-align: middle">save</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-dialog-actions>