<div style="background-color: white;">
    <!-- Les onglets -->
    <div class="tab mb-2">
        <div class="tab-left">
            <!-- Récolte (Toujours activé) -->
            <a class="tablinks"
                [class.active]="exsituFormService.currentTab === 'harvest'"
                (click)="goToTab('harvest')"
            >
                <mat-icon class="example-tab-icon">place</mat-icon>
                Récolte
            </a>

            <!-- Matériel récolté (Activé après ajout de la récolte) -->
            <a 
                class="tablinks" 
                [class.disabled]="!exsituFormService.idHarvest"
                [ngClass]="{ active: exsituFormService.currentTab === 'materials' }"
                (click)="goToTab('materials')"
            >
                <mat-icon class="example-tab-icon">spa</mat-icon>
                Matériels récoltés
            </a>

            <!-- Semence (Activé après avoir choisi un matériel) -->
            <a 
                class="tablinks" 
                [class.disabled]="!idSeed"
                [ngClass]="{ active: exsituFormService.currentTab === 'seed' }"
                (click)="idMaterial ? goToTab('seed') : null">
                <mat-icon class="example-tab-icon">description</mat-icon>
                Semence
            </a>

            <!-- Stockage (Activé après avoir choisi un matériel) -->
            <a 
                class="tablinks" 
                [class.disabled]="!idMaterial"
                [ngClass]="{ active: exsituFormService.currentTab === 'stock' }"
                (click)="idMaterial ? goToTab('stock') : null">
                <mat-icon class="example-tab-icon">store</mat-icon>
                Stockage
            </a>

            <!-- Test de germination -->
            <a 
                class="tablinks"
                [class.disabled]="!idMaterial"

                [ngClass]="{ active: exsituFormService.currentTab === 'germination-table' }"
                (click)="idMaterial ? goToTab('germination-table') : null"
            >
                <mat-icon class="example-tab-icon">spa</mat-icon>
                Test de germination
            </a>
                 

            <!-- Semis -->
            <a
            class="tablinks"
            [class.disabled]="!idMaterial"
            [ngClass]="{
                active:
                exsituFormService.currentTab === 'semis-table' ||
                exsituFormService.currentTab === 'semis-details'
            }"
            (click)="idMaterial ? goToTab('semis-table') : null"
            >
            <mat-icon class="example-tab-icon">
                grain
            </mat-icon>

            Semis
            </a>


            
            <a class="tablinks"
                [class.disabled]="!idMaterial"
                [ngClass]="{ active: exsituFormService.currentTab === 'viability-table' }"
                (click)="idMaterial ? goToTab('viability-table') : null">
                <mat-icon class="example-tab-icon">check_circle</mat-icon>
                Test de Viabilité
            </a>

            <!-- Culture -->
            <!-- Culture
                Accessible uniquement depuis les boutons Culture
                de Matériel récolté / Semis / Test de germination
            -->
            <a
            class="tablinks culture-tab"
            [class.disabled]="
                exsituFormService.currentTab !== 'culture-table' &&
                exsituFormService.currentTab !== 'culture-details'
            "
            [ngClass]="{
                active:
                exsituFormService.currentTab === 'culture-table' ||
                exsituFormService.currentTab === 'culture-details'
            }"
            >
            <mat-icon class="example-tab-icon culture-tab-icon">
                local_florist
            </mat-icon>

            Culture
            </a>
              
        </div>
    </div>
    
    <!-- Les header -->

    <div
        *ngIf="exsituFormService.currentTab !== 'harvest'"
        [class.mb-5]="
            exsituFormService.currentTab !== 'culture-table' &&
            exsituFormService.currentTab !== 'culture-details' &&
            exsituFormService.currentTab !== 'semis-table' &&
            exsituFormService.currentTab !== 'semis-details'
        "
        >
        <cs-header></cs-header>
        </div>

    

    <!-- Les contents -->

    <div *ngIf="exsituFormService.currentTab === 'harvest'"
        [ngStyle]="{ 'min-height.px': cardContentHeight }"
    >
        <div class="row row-0">
            <div class="col-xl-6 col-lg-7 col-sm-6"
                [ngStyle]="{ 'height.px': cardContentHeight }"
            >
                <ex-harvest-map></ex-harvest-map>
            </div>
            <div class="col-xl-6 col-lg-7 col-sm-6"
                style="overflow-y: scroll"
                [ngStyle]="{ 'height.px': cardContentHeight }"
            >
                <ex-harvest-form></ex-harvest-form>
            </div>
        </div>
        
    </div>

    <div *ngIf="exsituFormService.currentTab === 'materials'"
        [ngStyle]="{ 'height.px': cardContentHeight - 110 }"
    >
        <!-- <div class="col-xl-6 h-100" style="overflow-y: auto;">
            <cs-material-form></cs-material-form>
        </div> -->
        <div class="col-md-12">
            <cs-material-list></cs-material-list>
        </div>
    </div>

    <!-- Onglet Semence -->
    <div *ngIf="exsituFormService.currentTab === 'seed'"
        [ngStyle]="{ 'height.px': cardContentHeight - 110 }"
        style="overflow-y: scroll"
        >
        <cs-seed-details></cs-seed-details>
    </div>

    <!-- Onglet Stockage -->
    <div *ngIf="exsituFormService.currentTab === 'stock'"
        [ngStyle]="{ 'height.px': cardContentHeight - 110 }"
        style="overflow-y: scroll"
        >
        <cfe-stock-management></cfe-stock-management>
    </div>


    <div *ngIf="exsituFormService.currentTab === 'germination-table'">
        <app-germination-table></app-germination-table>
    </div>

    <div *ngIf="exsituFormService.currentTab === 'germination-add'"
    >
            <app-germination></app-germination>
    </div> 
    <div *ngIf="exsituFormService.currentTab === 'semis-table'">
        <app-semis-table></app-semis-table>
    </div>

    <div *ngIf="exsituFormService.currentTab === 'semis-add'"
    >
            <app-semis></app-semis>
    </div> 
    <div *ngIf="exsituFormService.currentTab === 'viability-table'">
        <app-viability-table></app-viability-table>
    </div>

    <div *ngIf="exsituFormService.currentTab === 'culture-table'">
        <app-culture-table></app-culture-table>
    </div>

    <div
        *ngIf="
            exsituFormService.currentTab ===
            'culture-details'
        "
        >

        <app-culture-details>
        </app-culture-details>

    </div>

    <div *ngIf="exsituFormService.currentTab === 'viability-add'"
    >
            <app-viability></app-viability>
    </div> 

    <div *ngIf="exsituFormService.currentTab === 'germination-details'"
    >
            <app-germination-details></app-germination-details>
    </div> 

    <div *ngIf="exsituFormService.currentTab === 'semis-details'"
    >
            <app-semis-details></app-semis-details>
    </div> 
    <div *ngIf="exsituFormService.currentTab === 'viability-details'"
    >
            <app-viability-details></app-viability-details>
    </div> 
</div>