<div style="background-color: white;">
    <!-- Les onglets -->
    <div class="tab mb-2">
        <div class="tab-left">
            <!-- Récolte (Toujours activé) -->
            <a class="tablinks"
                [class.active]="exsituFormService.currentTab === 'harvest'"
                (click)="goToTab('harvest')"
            >
                <mat-icon class="example-tab-icon">place</mat-icon>
                Récolte
            </a>

            <!-- Matériel récolté (Activé après ajout de la récolte) -->
            <a 
                class="tablinks" 
                [class.disabled]="!exsituFormService.idHarvest"
                [ngClass]="{ active: exsituFormService.currentTab === 'materials' }"
                (click)="goToTab('materials')"
            >
                <mat-icon class="example-tab-icon">emoji_nature</mat-icon>
                Matériels récoltés
            </a>

            <!-- Stockage (Activé après avoir choisi un matériel) -->
            <a 
                class="tablinks" 
                [class.disabled]="!idMaterial"
                [ngClass]="{ active: exsituFormService.currentTab === 'stock' }"
                (click)="idMaterial ? goToTab('stock') : null">
                <mat-icon class="example-tab-icon">emoji_nature</mat-icon>
                Stockage
            </a>

            <!-- Test de germination -->
            <a 
                class="tablinks" 
                (click)=" goToTab('germination-table')">
                <mat-icon class="example-tab-icon">emoji_nature</mat-icon>
                Test de germination
            </a>            

            <!-- Semis -->
            <a class="tablinks"
                (click)="goToTab('semis')"
                >
                <mat-icon class="example-tab-icon">emoji_nature</mat-icon>

                Semis
            </a>

            
            <a class="tablinks"
            (click)="goToTab('viability')"
            >
            <mat-icon class="example-tab-icon">emoji_nature</mat-icon>

            Test de Viabilité
            </a>
            <!-- Culture -->
            <a class="tablinks disabled">
                <mat-icon class="example-tab-icon">emoji_nature</mat-icon>
                Culture
            </a>
        </div>
    </div>

    <!-- Les header -->

    <div class="mb-5" *ngIf="exsituFormService.currentTab !== 'harvest'">
        <cs-header></cs-header>
    </div>


    <!-- Les contents -->

    <div *ngIf="exsituFormService.currentTab === 'harvest'"
        [ngStyle]="{ 'min-height.px': cardContentHeight }"
    >
        <div class="row row-0">
            <div class="col-xl-6 col-lg-7 col-sm-6"
                [ngStyle]="{ 'height.px': cardContentHeight }"
            >
                <ex-harvest-map></ex-harvest-map>
            </div>
            <div class="col-xl-6 col-lg-7 col-sm-6"
                style="overflow-y: scroll"
                [ngStyle]="{ 'height.px': cardContentHeight }"
            >
                <ex-harvest-form></ex-harvest-form>
            </div>
        </div>
        
    </div>

    <div *ngIf="exsituFormService.currentTab === 'materials'"
        [ngStyle]="{ 'height.px': cardContentHeight - 110 }"
        class="d-flex"
    >
        <div class="col-xl-6 h-100" style="overflow-y: auto;">
            <cs-material-form></cs-material-form>
        </div>
        <div class="col-xl-5 ml-5">
            <cs-material-list></cs-material-list>
        </div>
    </div>

    <!-- Onglet Stockage -->
    <div *ngIf="exsituFormService.currentTab === 'stock'"
        [ngStyle]="{ 'height.px': cardContentHeight - 110 }"
        style="overflow-y: scroll"
        >
        <cfe-stock-management></cfe-stock-management>
    </div>


    <div *ngIf="exsituFormService.currentTab === 'germination-table'">
        <app-germination-table></app-germination-table>
    </div>

    <div *ngIf="exsituFormService.currentTab === 'germination-add'"
    >
            <app-germination></app-germination>
    </div> 
    <div *ngIf="exsituFormService.currentTab === 'semis-table'">
        <app-semis-table></app-semis-table>
    </div>

    <div *ngIf="exsituFormService.currentTab === 'semis-add'"
    >
            <app-semis></app-semis>
    </div> 
    <div *ngIf="exsituFormService.currentTab === 'viability-table'">
        <app-viability-table></app-viability-table>
    </div>

    <div *ngIf="exsituFormService.currentTab === 'viability-add'"
    >
            <app-viability></app-viability>
    </div> 

     
</div>