<div class="row row-0">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-sm">
    <pnx-map
      [height]="mapHeight"
      [geolocation]="true"
    >
      <pnx-marker
        [coordinates]="markerCoordinates"
        [zoomLevel]="1"
        [defaultEnable]="false"
        (markerChanged)="addGeoInfo($event)"
      ></pnx-marker>
      <pnx-leaflet-draw
        [geojson]="currentGeoJsonFileLayer"
        [options]="leafletDrawOptions"
        [zoomLevel]="1"
        (layerDrawed)="addGeoInfo($event)"
        (layerDeleted)="deleteGeoInfo()"
      ></pnx-leaflet-draw>
      <pnx-leaflet-filelayer
        (onGeomChange)="addGeoInfo($event)"
        [editMode]="true"
        [style]="{ color: 'green' }"
      ></pnx-leaflet-filelayer>
    </pnx-map>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-sm">
    <div class="row row-0">
      <div class="col-6 padding-sm">
        <div class="form-group">
          <pnx-autocomplete
              apiEndPoint="{{ storeService.config.API_ENDPOINT }}/habref/habitats/autocomplete"
              [searchAsParameter]="false"
              queryParamSearch="search_name"
              [parentFormControl]="harvestForm.controls.cd_hab"
              keyValue="search_name"
              [formatter]="formatter"
              label="Habitat"
              placeholder="Tapez les premières lettres..."
            ></pnx-autocomplete>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <pnx-datasets
            label="{{ 'MetaData.Datasets' | translate }}"
            [parentFormControl]="harvestForm.controls.id_dataset"
            moduleCode="CONSERVATION_FLORA_EXSITU"
            creatableInModule="CONSERVATION_FLORA_EXSITU"
          >
        </pnx-datasets>
        </div>
      </div>
    </div>

    <div class="row row-0">
      <div class="col-6 padding-sm">
        <div class="form-group">
          <label> Type de récolte * :</label>
          <pnx-nomenclature
                  keyValue="id_nomenclature"
                  [bindAllItem]="true"
                  keyLabel="label_default"
                  codeNomenclatureType="CFE_HARVEST_TYPE"
                  [parentFormControl]="harvestForm.controls.id_harvest_type"
                >
           </pnx-nomenclature>
        </div>
      </div>
        <div class="col">
          <div class="form-group">
            <label> Observateur(s) * :</label>
            <pnx-observers
              [bindAllItem]="true"
              [parentFormControl]="harvestForm.controls.observers"
              [codeList]="storeService.cfeConfig.observers_list_code"
              matTooltipPosition="above"
              [multiSelect]="true"
            >
            </pnx-observers>
          </div>
       </div>

       <div class="form-group">
          <div class="row row-0">
            <div class=" padding-sm">
              <pnx-date
                [defaultToday]="true"
                label="{{ 'Releve.MinDate' | translate }}"
                [parentFormControl]="harvestForm.controls.date_start"
                data-qa="filter-form-date-start"
              ></pnx-date>
            </div>
            <div class=" padding-sm">
              <pnx-date
                [defaultToday]="true"
                label="{{ 'Releve.MaxDate' | translate }}"
                [parentFormControl]="harvestForm.controls.date_end"
                data-qa="filter-form-date-end"
              ></pnx-date>
            </div>
          </div>
       </div>
    </div>

    <div class="row row-0 mt-3">
      <div class="col-6 padding-sm">
          <textarea
            class="form-control form-control-sm"
            placeholder="Commentaire sur la location"
            [formControl]="harvestForm.controls.place_comment"
            ></textarea>
      </div>
      <div class="col">
        <textarea
            class="form-control form-control-sm"
            placeholder="Remarques générales"
            [formControl]="harvestForm.controls.comment"
          ></textarea>
      </div>
    </div>

    <!-- <pnx-dumb-select
            label="Exposition"
            [parentFormControl]="harvestForm.harvestForm.get('id_nomenclature_exposure')"
            comparedKey="id_nomenclature"
            titleKey="definition_fr"
            displayedKey="label_fr"
    ></pnx-dumb-select> -->

    <div class="row row-0 mt-2">
      <div class="col-6 padding-sm">
        <label> Exposition :</label>
        <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="true"
                keyLabel="label_default"
                codeNomenclatureType="EXPOSITION"
                [parentFormControl]="harvestForm.controls.id_exposition"
              >
         </pnx-nomenclature>
      </div>
    </div>

    <div class="row row-0 mr-3 mt-2">
      <div class="col padding-sm">
        <small>Surface (en m²)</small>
        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.surface"
        />
      </div>

      <div class="col padding-sm">
        <small>Résolution</small>
        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.precision"
        />
      </div>

      <div class="col-5 padding-sm">
        <small>Altitude</small>
        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.altitude"
        />
      </div>
    </div>


    <div class="card-footer mr-3">
      <div class="row">
        <div class="col padding-sm">
          <button (click)="cancel()" type="button" class="btn btn-danger box-shadow">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Annuler
          </button>
        </div>
        <div>
          <button (click)="onSubmit()" type="button" class="btn btn-success box-shadow">
            <i class="fa fa-plus-circle" aria-hidden="true"> </i>
            Enregister
          </button>
        </div>
      </div>
    </div>

    
    
  </div>
</div>