
    <div class="row row-0">
      <div class="col-6 padding-sm">
        <div class="form-group">
          <pnx-autocomplete
              apiEndPoint="{{ storeService.config.API_ENDPOINT }}/habref/habitats/autocomplete"
              [searchAsParameter]="false"
              queryParamSearch="search_name"
              [parentFormControl]="harvestForm.controls.cd_hab"
              keyValue="search_name"
              [formatter]="formatter"
              label="Habitat"
              placeholder="Tapez les premières lettres..."
            ></pnx-autocomplete>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <pnx-datasets
            label="Jeux de données *"
            [parentFormControl]="harvestForm.controls.id_dataset"
            moduleCode="CONSERVATION_FLORA_EXSITU"
            creatableInModule="CONSERVATION_FLORA_EXSITU"
          >
        </pnx-datasets>
        </div>
      </div>
    </div>

    <div class="row row-0">
      <div class="col-6 padding-sm">
        <div class="form-group">
          <small> Type de récolte *</small>
          <pnx-nomenclature
                  keyValue="id_nomenclature"
                  [bindAllItem]="true"
                  keyLabel="label_default"
                  codeNomenclatureType="CFE_HARVEST_TYPE"
                  [parentFormControl]="harvestForm.controls.id_harvest_type"
                >
           </pnx-nomenclature>
        </div>
      </div>
        <div class="col">
          <div class="form-group">
            <small> Observateur(s) * :</small>
            <pnx-observers
              [bindAllItem]="true"
              [parentFormControl]="harvestForm.controls.observers"
              [codeList]="storeService.cfeConfig.observers_list_code"
              matTooltipPosition="above"
              [multiSelect]="true"
            >
            </pnx-observers>
          </div>
       </div>

       <div class="form-group">
          <div class="row row-0">
            <div class=" padding-sm">
              <pnx-date
                [defaultToday]="true"
                label="{{ 'Releve.MinDate' | translate }}"
                [parentFormControl]="harvestForm.controls.date_start"
              ></pnx-date>
            </div>
            <div class=" padding-sm">
              <pnx-date
                label="{{ 'Releve.MaxDate' | translate }}"
                [parentFormControl]="harvestForm.controls.date_end"
              ></pnx-date>
            </div>
          </div>
       </div>
    </div>

    <div class="row row-0 mt-3">
      <div class="col-6 padding-sm">
          <textarea
            class="form-control form-control-sm"
            placeholder="Commentaire sur la location"
            [formControl]="harvestForm.controls.place_comment"
            ></textarea>
      </div>
      <div class="col">
        <textarea
            class="form-control form-control-sm"
            placeholder="Remarques générales"
            [formControl]="harvestForm.controls.comment"
          ></textarea>
      </div>
    </div>

    <!-- <pnx-dumb-select
            label="Exposition"
            [parentFormControl]="harvestForm.harvestForm.get('id_nomenclature_exposure')"
            comparedKey="id_nomenclature"
            titleKey="definition_fr"
            displayedKey="label_fr"
    ></pnx-dumb-select> -->

    <div class="row row-0 mt-2">
      <div class="col-6 padding-sm">
        <small> Exposition :</small>
        <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="true"
                keyLabel="label_default"
                codeNomenclatureType="EXPOSITION"
                [parentFormControl]="harvestForm.controls.id_exposition"
              >
         </pnx-nomenclature>
      </div>
    </div>

    <div class="row row-0 mr-3 mt-2">
      <div class="form-group col-6 padding-sm">
        <small>Surface (en m²)</small>
        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.surface"
        />
      </div>

      <div class="form-group col-6 padding-sm">
        <small>Altitude</small>
        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.altitude"
        />
      </div>
    </div>

    <div class="row row-0 mt-2 mb-3 mr-3">
      <div class="form-group col-6 padding-sm">
        <small> Précision géographique *</small>
        <pnx-nomenclature
                keyValue="id_nomenclature"
                [bindAllItem]="true"
                keyLabel="label_default"
                codeNomenclatureType="CFE_GEOGRAPHICAL_PRECISION"
                [parentFormControl]="harvestForm.controls.id_geographical_location"
              >
         </pnx-nomenclature>
      </div>
      <div class="form-group col-6 padding-sm" *ngIf="harvertFormService.showCommuneField">
        <pnx-areas
          label="Commune"
          [typeCodes]="['COM']"
          [parentFormControl]="harvestForm.controls.location_code_muni"
          >
        </pnx-areas>
      </div>
      <div class="form-group col-6 padding-sm" *ngIf="harvertFormService.showDepartmentField">
        <pnx-areas
          label="Département"
          [typeCodes]="['DEP']"
          [parentFormControl]="harvestForm.controls.location_code_dept"
          >
        </pnx-areas>
      </div>
      <div class="form-group col-6 padding-sm" *ngIf="harvertFormService.showResolutionField">
        <small>Résolution</small>
        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.precision"
        />
      </div>
    </div>

    <div class="card-footer mr-3">
      <div class="row">
        <div class="col padding-sm">
          <button (click)="cancel()" type="button" class="btn btn-danger box-shadow">
            Retour
          </button>
        </div>
        <div>
          <button 
            (click)="onSubmit()" 
            type="button" 
            class="btn btn-success box-shadow" 
            
          >
          <!-- [disabled]="!harvestForm.valid" -->
              <i class="fa fa-save" aria-hidden="true"> </i>
              Enregister et ajouter matériels
          </button>
        </div>
      </div>
    </div>

    
    