<div class="harvest-details-panel">

  <!-- =====================================================
       QUOI
       ===================================================== -->

  <div class="harvest-details-info-card">

    <div class="harvest-details-section-header">

      <div class="harvest-details-section-icon">
        <mat-icon>local_florist</mat-icon>
      </div>

      <div class="harvest-details-section-text">

        <span class="harvest-details-section-title">
          Quoi
        </span>

        <span class="harvest-details-section-subtitle">
          Nature et rattachement de la récolte
        </span>

      </div>

    </div>


    <div class="row row-0">

      <div class="col-6 padding-sm">

        <div class="form-group">

          <small>
            Type de récolte *
          </small>

          <pnx-nomenclature
            keyValue="id_nomenclature"
            [bindAllItem]="false"
            codeNomenclatureType="CFE_HARVEST_TYPE"
            [parentFormControl]="harvestForm.controls.id_harvest_type"
          >
          </pnx-nomenclature>

        </div>

      </div>


      <div class="col-6">

        <div class="form-group">

          <pnx-autocomplete
            apiEndPoint="{{ habref_url }}"
            [searchAsParameter]="false"
            queryParamSearch="search_name"
            [parentFormControl]="harvestForm.controls.cd_hab"
            keyValue="search_name"
            [formatter]="formatter"
            label="Habitat"
            placeholder="Tapez les premières lettres..."
          >
          </pnx-autocomplete>

        </div>

      </div>

    </div>


    <div class="row row-0">

      <div class="col-6 padding-sm">

        <div class="form-group">

          <pnx-datasets
            label="Jeux de données *"
            [parentFormControl]="harvestForm.controls.id_dataset"
            moduleCode="CONSERVATION_FLORA_EXSITU"
            creatableInModule="CONSERVATION_FLORA_EXSITU"
          >
          </pnx-datasets>

        </div>

      </div>

    </div>

  </div>


  <!-- =====================================================
       OÙ
       ===================================================== -->

  <div class="harvest-details-info-card">

    <div class="harvest-details-section-header">

      <div class="harvest-details-section-icon">
        <mat-icon>place</mat-icon>
      </div>

      <div class="harvest-details-section-text">

        <span class="harvest-details-section-title">
          Où
        </span>

        <span class="harvest-details-section-subtitle">
          Localisation et précision géographique
        </span>

      </div>

    </div>


    <div class="row row-0">

      <div class="form-group col-6 padding-sm">

        <small>
          Précision géographique *
        </small>

        <pnx-nomenclature
          keyValue="id_nomenclature"
          [bindAllItem]="true"
          codeNomenclatureType="CFE_GEOGRAPHICAL_PRECISION"
          [parentFormControl]="harvestForm.controls.id_geographical_precision"
        >
        </pnx-nomenclature>

      </div>


      <div
        class="form-group col-6"
        *ngIf="harvertFormService.showCommuneField"
      >

        <pnx-areas
          label="Commune"
          [typeCodes]="['COM']"
          [parentFormControl]="harvestForm.controls.id_area_muni"
        >
        </pnx-areas>

      </div>


      <div
        class="form-group col-6"
        *ngIf="harvertFormService.showDepartmentField"
      >

        <pnx-areas
          label="Département"
          [typeCodes]="['DEP']"
          [parentFormControl]="harvestForm.controls.id_area_dept"
        >
        </pnx-areas>

      </div>


      <div
        class="form-group col-6"
        *ngIf="harvertFormService.showResolutionField"
      >

        <small>
          Résolution(m)
        </small>

        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.precision"
        />

      </div>

    </div>


    <div class="row row-0">

      <div class="form-group col-6 padding-sm">

        <small>
          Surface (en m²)
        </small>

        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.surface"
        />

      </div>


      <div class="form-group col-6">

        <small>
          Altitude
        </small>

        <input
          class="form-control form-control-sm"
          type="number"
          [formControl]="harvestForm.controls.altitude"
        />

      </div>

    </div>


    <div class="row row-0 harvest-location-remarks">

      <div class="col">

        <textarea
          class="form-control form-control-sm"
          placeholder="Complément localisation"
          [formControl]="harvestForm.controls.place_remarks"
        ></textarea>

      </div>

    </div>


    <!-- ===================================================
         INFORMATIONS SUR LA STATION
         =================================================== -->

    <div class="harvest-details-sub-card">

      <div class="harvest-details-section-header harvest-details-sub-header">

        <div class="harvest-details-section-icon">
          <mat-icon>terrain</mat-icon>
        </div>

        <div class="harvest-details-section-text">

          <span class="harvest-details-section-title">
            Informations sur la station
          </span>

          <span class="harvest-details-section-subtitle">
            Exposition et caractéristiques du terrain
          </span>

        </div>

      </div>


      <div class="row row-0">

        <div class="col-6 padding-sm">

          <div class="form-group">

            <small>
              Exposition :
            </small>

            <pnx-nomenclature
              keyValue="id_nomenclature"
              [bindAllItem]="false"
              codeNomenclatureType="EXPOSITION"
              [parentFormControl]="harvestForm.controls.id_exposition"
            >
            </pnx-nomenclature>

          </div>

        </div>


        <div class="form-group col-6">

          <small>
            Pente
          </small>

          <input
            class="form-control form-control-sm"
            type="number"
            [formControl]="harvestForm.controls.slope"
          />

        </div>

      </div>

    </div>

  </div>


  <!-- =====================================================
       QUAND
       ===================================================== -->

  <div class="harvest-details-info-card">

    <div class="harvest-details-section-header">

      <div class="harvest-details-section-icon">
        <mat-icon>event</mat-icon>
      </div>

      <div class="harvest-details-section-text">

        <span class="harvest-details-section-title">
          Quand
        </span>

        <span class="harvest-details-section-subtitle">
          Période de réalisation de la récolte
        </span>

      </div>

    </div>


    <div class="row row-0">

      <div class="col-4 padding-sm">

        <div class="form-group">

          <pnx-date
            [defaultToday]="true"
            label="Date début"
            [parentFormControl]="harvestForm.controls.date_start"
          >
          </pnx-date>

        </div>

      </div>


      <div class="col-4">

        <div class="form-group">

          <pnx-date
            label="Date fin"
            [parentFormControl]="harvestForm.controls.date_end"
          >
          </pnx-date>

        </div>

      </div>

    </div>

  </div>


  <!-- =====================================================
       QUI
       ===================================================== -->

  <div class="harvest-details-info-card">

    <div class="harvest-details-section-header">

      <div class="harvest-details-section-icon">
        <mat-icon>group</mat-icon>
      </div>

      <div class="harvest-details-section-text">

        <span class="harvest-details-section-title">
          Qui
        </span>

        <span class="harvest-details-section-subtitle">
          Observateurs associés à la récolte
        </span>

      </div>

    </div>


    <div class="row row-0">

      <div class="col-8">

        <div class="form-group">

          <small>
            Observateur(s) * :
          </small>

          <pnx-observers
            [bindAllItem]="true"
            [parentFormControl]="harvestForm.controls.observers"
            [codeList]="observers_list_code"
            matTooltipPosition="above"
            [multiSelect]="true"
          >
          </pnx-observers>

        </div>

      </div>

    </div>

  </div>


  <!-- =====================================================
       REMARQUES
       Champ déjà existant : aucune logique modifiée
       ===================================================== -->

  <div class="harvest-details-remarks-card">

    <textarea
      class="form-control form-control-sm"
      placeholder="Remarques générales | Commentaire météo"
      [formControl]="harvestForm.controls.remarks"
    ></textarea>

  </div>


  <!-- =====================================================
       DONNÉES SUPPLÉMENTAIRES
       ===================================================== -->

  <div
    class="harvest-details-info-card"
    *ngIf="formsDefinition?.length"
  >

    <div class="harvest-details-section-header">

      <div class="harvest-details-section-icon">
        <mat-icon>notes</mat-icon>
      </div>

      <div class="harvest-details-section-text">

        <span class="harvest-details-section-title">
          Données supplémentaires
        </span>

        <span class="harvest-details-section-subtitle">
          Programme et informations complémentaires
        </span>

      </div>

    </div>


    <div class="row row-0">

      <div class="form-group col-6">

        <pnx-dynamic-form-generator
          [myFormGroup]="additionalDataForm"
          [formsDefinition]="formsDefinition"
          [autoGenerated]="true"
        >
        </pnx-dynamic-form-generator>

      </div>

    </div>

  </div>


  <!-- =====================================================
       BOUTONS
       Strictement inchangés fonctionnellement
       ===================================================== -->

  <div class="card-footer mr-3">

    <div class="row">

      <div class="col padding-sm">

        <button
          (click)="cancel()"
          type="button"
          class="btn btn-danger box-shadow"
        >
          Retour
        </button>

      </div>


      <div *ngIf="!exsituFormService.editionMode['_value']">

        <button
          (click)="onSubmit()"
          type="button"
          class="btn btn-success box-shadow"
          [disabled]="!harvestForm.valid"
        >
          <i class="fa fa-save"> </i>
          Enregister et ajouter matériels
        </button>

      </div>


      <div *ngIf="exsituFormService.editionMode['_value']">

        <button
          (click)="onSubmit()"
          type="button"
          class="btn btn-success box-shadow"
          [disabled]="!harvestForm.valid"
        >
          <i class="fa fa-save"> </i>
          Enregister
        </button>

      </div>

    </div>

  </div>

</div>