<!-- RETOUR VERS MATÉRIEL RÉCOLTÉ -->
<div class="germination-list-return-button">

  <button
    mat-raised-button
    type="button"
    (click)="onBackToMaterial()"
  >
    <mat-icon>arrow_back</mat-icon>

    Retour
  </button>

</div>

<mat-card class="germination-list-card">

  <div class="germination-list-hero">

    <div class="germination-list-hero-icon">
      <mat-icon>wb_sunny</mat-icon>
    </div>

  </div>

  <mat-card-header class="germination-list-header">

    <button
      mat-button
      class="germination-add-button"
      (click)="addFicheGermination()"
    >
      <mat-icon>add</mat-icon>

      Ajouter une fiche de germination
    </button>

    <div class="germination-title-wrapper">
      <mat-card-title>
        Fiche de Germination
      </mat-card-title>
    </div>

  </mat-card-header>

  <mat-card-content class="germination-list-content">

    <ng-container
      *ngIf="
        dataSource.data.length > 0;
        else noGerminationData
      "
    >
      <table
        mat-table
        [dataSource]="dataSource"
        class="germination-list-table"
      >

        <!-- N° test de germination -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>N° test de germination</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <!-- % germination -->
        <ng-container matColumnDef="germination_rate">
          <th mat-header-cell *matHeaderCellDef>% germination</th>
          <td mat-cell *matCellDef="let element">
            {{ element.germination_rate !== null ? (element.germination_rate | number:'1.0-2') + '%' : '-' }}
          </td>
        </ng-container>

        <!-- Date de début -->
        <ng-container matColumnDef="meta_create_date">
          <th mat-header-cell *matHeaderCellDef>Date de début</th>
          <td mat-cell *matCellDef="let element">{{ element.meta_create_date | date:'shortDate' }}</td>
        </ng-container>

        <!-- Nombre de graines -->
        <ng-container matColumnDef="seed_initial_count">
          <th mat-header-cell *matHeaderCellDef>Nb de graines</th>
          <td mat-cell *matCellDef="let element">{{ element.seed_initial_count }}</td>
        </ng-container>

        <!-- Régime thermo-photo -->
        <ng-container matColumnDef="photo_thermo_regime">
          <th mat-header-cell *matHeaderCellDef>Régime thermo-photo</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.thermoPhoto">{{ element.thermoPhoto }}</span>
          </td>
        </ng-container>

        <!-- Traitement -->
        <ng-container matColumnDef="treatment">
          <th mat-header-cell *matHeaderCellDef>Liquide traitement</th>
          <td mat-cell *matCellDef="let element">
            {{ element.treatment || '-' }}
          </td>
        </ng-container>

        <!-- Prétraitement -->
        <ng-container matColumnDef="pre_treatment">
          <th mat-header-cell *matHeaderCellDef>Prétraitement</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              [checked]="element.pre_treatment === true"
              (change)="onChangePreTreatment(element, $event.checked)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef aria-label="Actions"></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="actions-trigger-red"
              [matMenuTriggerFor]="menu"
              (menuOpened)="setActiveActionRow(element)"
              (menuClosed)="clearActiveActionRow()"
              (click)="$event.stopPropagation()"
              aria-label="Actions"
            >
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
                <span>Modifier</span>
              </button>

              <button mat-menu-item (click)="onDetails(element)">
                <mat-icon style="color: #FFA726;">visibility</mat-icon>
                <span>Détails/Action</span>
              </button>

              <button mat-menu-item class="delete-action-red" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>

              <button mat-menu-item class="culture-action" (click)="onCulture(element)">
                <mat-icon>local_florist</mat-icon>
                <span>Culture</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
          class="clickable-row"
          [class.action-row-active]="isActionRowActive(row)"
          (click)="onRowClick(row)"
        >
        </tr>
      </table>

      <mat-paginator
        class="germination-list-paginator"
        [pageSize]="rowPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
      </mat-paginator>

    </ng-container>

    <ng-template #noGerminationData>
      <mat-card class="alert-card warning-card mt-4">
        <mat-icon color="warn">info</mat-icon>
        Aucun test de germination enregistré pour ce matériel.
      </mat-card>
    </ng-template>
  </mat-card-content>
</mat-card>
